// =======
// presets
// =======

@import presets/reset 
@import presets/variables
@import presets/mixins

// ==========
// font style 
// ==========

body,
textarea,
input,
button
  font-family: 'Montserrat', sans-serif

// =========
// font size 
// =========

body,
button
  font-size: 10px

  @include max-custom-devices(1500px)
    font-size: 9px

  @include xl-devices
    font-size: 8px

  @include lg-devices
    font-size: 7.5px

// ===================
// style for all pages 
// ===================

body
  background: $color-almost-white
  overflow-x: hidden

// ==========
// containers 
// ==========

.container
  @include container

// =======
// heading 
// =======

.heading-first
  color: $color-dark
  font-weight: $bold
  font-size: 6.5em  // 65px
  @include sm-devices
    font-size: 4.5em


.heading-second
  color: $color-dark
  font-weight: $bold
  font-size: 4em   // 40px

.heading-third
  color: $color-dark
  font-weight: $semibold
  font-size: 3.5em // 35px

.heading-fourth
  color: $color-dark
  font-weight: $semibold
  font-size: 3em   // 30px

.heading-fifth
  color: $color-dark
  font-weight: $semibold
  font-size: 2.5em // 25px

.heading-sixth
  color: $color-dark
  font-weight: $semibold
  font-size: 2em   // 20px

// ====
// text
// ====

.text-first
  color: $color-gray
  font-weight: $medium
  font-size: 3em    // 30px
  line-height: 1.3
  @include sm-devices
    font-size: 2.5em

.text-second
  color: $color-gray
  font-weight: $medium
  font-size: 2.5em  // 25px

.text-third
  color: $color-gray
  font-weight: $medium
  font-size: 2em    // 20px

.text-fourth
  color: $color-gray
  font-weight: $medium
  font-size: 1.8em  // 18px

.text-fifth
  color: $color-gray
  font-weight: $medium
  font-size: 1.6em  // 16px

.text-sixth
  color: $color-gray
  font-weight: $medium
  font-size: 1.4em  // 14px

// ====
// pool
// ====

.pool
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-column-gap: 15px
  grid-row-gap: 30px

  @include lg-devices
    grid-template-columns: 1fr 1fr

  @include sm-devices
    grid-template-columns: 1fr


// ======================
// sections for all pages
// ======================

@import sections/navbar
@import sections/basement
@import sections/modal

// ========================
// components for all pages
// ========================

@import components/inputs
@import components/textareas
@import components/buttons
@import components/alert
@import components/card
@import components/tags

// =========
// home page
// =========

@import pages/home/banner
@import pages/home/about-me
@import pages/home/reviews

// ===========
// temp styles
// ===========

.grid 
  background: $color-white
  padding: 100px
  display: grid
  grid-template-columns: 500px
  grid-row-gap: 30px


.pe
  padding-top: 150px 
  padding-bottom: 150px

