.filter {
  margin: 30px 0 15px;
}

.filter__body {
  max-height: max-content;
  background: $bg-fifth;
  @include border-radius;
  box-shadow: $shadow-second;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12.5px 15px;
  position: relative;

  @include lg-devices {
    padding-right: 15px;
  }
}

.filter__panel {
  display: flex;
  justify-content: space-between;

  @include sm-devices {
    flex-direction: column;
  }
}

.filter__button-group {
  display: flex;

  @include sm-devices {
    margin-top: 10px;
    justify-content: space-between;
  }
}

.filter__button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 35px;
  border-radius: 10px;
  padding: 0 15px;
  background: $bg-main;
  align-self: center;
  font-size: 14px;
  font-weight: $medium;
  color: $text-third;
  position: relative;

  &:not(:last-child) {
    margin-right: 15px;
  }

  .material-icons-round {
    margin-left: 5px;
    font-size: 25px;
    color: inherit;
  }
}

.filter__search {
  display: flex;
  align-items: center;
  position: relative;
}

.filter__search-button {
  position: absolute;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: margin .2s ease-in-out;

  .material-icons-round {
    font-size: 25px;
    color: $color-main;
  }
}

.filter__search-button--active {
  margin-left: 10px; 
}

.filter__search-input {
  height: 35px;
  background: $bg-main;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  color: $text-main;
  width: 425px;
  overflow: hidden;
  padding: 5px 15px 5px 45px;
  transition: max-width .3s ease-in-out, padding .3s ease-in-out;
  margin-right: 15px;

  &::placeholder {
    font-weight: $medium;
    color: $text-third;
  }

  @include sm-devices {
    width: 100%;
    margin-right: 0;
  }
}

.filter__search-input--active {
  max-width: 400px;
  width: 100%;
}

.filter__dropdown {
  position: absolute;
  height: max-content;
  z-index: $z-second;
}

.filter__dropdown {
  padding: 12px 30px;
  
  .dropdown__arrow {
    right: 30px;
  }

  .dropdown__button {
    display: flex;
    justify-content: start;
    font-size: 16px;
    color: $text-third;
    font-weight: $medium;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .dropdown__button--active {
    color: $bg-main;
  }
}

.filter__dropdown--filter {
  right: 20px;
  top: 55px;

  @include sm-devices {
    top: 100px;
  }
}

.filter__tags {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top:0;
  padding-left: 10px;
  margin-top: 0;
  max-height: 0;
  background: $bg-main;
  border-radius: 10px;
  transition: all .3s ease-in-out;

  .tag {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.filter__tags--active {
  margin-top: 12.5px;
  padding-top: 10px;
  max-height: max-content;
}

















