
.filter {
  margin: 50px 0;
}

.filter__body {
  height: 60px;
  width: 100%;
  background: $bg-fifth;
  border-radius: 15px;
  box-shadow: $shadow-second;
}

.filter__tags {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

