.post-card {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.post-card--square {
  flex-basis: 25%;
}

.post-card--big-square {
  flex-basis: 33.3%;
}

.post-card--rectangle {
  flex-basis: 33.3%;

  .post-card__image {
    padding-bottom: 56.25%;
    border: 5px solid white;
  }
}

.post-card__image {
  position: relative;
  background: $text-third;
  padding-bottom: 100%;
  width: 100%;
  border-radius: 15px;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  box-shadow: $shadow-second;
}

.post-card__header {
  position: absolute;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-card__favorite-button {
  transition: transform .1s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.96);
  }
}

.post-card__favorite-icon {
  font-size: 24px !important;
  color: $text-third;
  background: $bg-fifth;
  border-radius: 100%;
  padding: 6px;
}

.post-card__favorite-icon--active {
  color: $color-second !important;
}

.post-card__views {
  background: $bg-fifth;
  border-radius: 50px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  height: max-content;
}

.post-card__views-count {
  font-size: 14px;
  font-weight: $semibold;
  color: $text-third;
}

.post-card__views-icon {
  margin-right: 5px;
  font-size: 15px !important;
  color: $text-third !important;
}

.post-card__title {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-fifth;
  border-radius: 50px;
  height: 60px;
  width: 90%;
  box-shadow: $shadow-second;
}

.post-card__text {
  margin-top: 20px;
}

.post-card__date {
  font-size: 14px;
  font-weight: $semibold;
  color: $text-third;
  background: $bg-fifth;
  border-radius: 50px;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  box-shadow: $shadow-second;
}

.post-card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-card__tags {
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
  
  &:hover .post-card__tooltip {
    opacity: 1;
    z-index: 1;
  }
}

.post-card__icons {
  display: flex;
}

.post-card__icon {
  height: 30px;
  width: 30px;
  background-color: $text-third;
  border-radius: 100%;
}

.post-card__icon--first {
  position: relative;
  margin-left: -10px;
  box-shadow: 0px 0px 0px 3px $bg-main;
}

.post-card__icon--second {
  position: relative;
  margin-left: -10px;
  box-shadow: 0px 0px 0px 3px $bg-main;
}

.post-card__label {
  font-size: 14px;
  margin-left: 10px;
  font-weight: $semibold;
  color: $text-third;
}

.post-card__tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
}