* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea,
input,
select {
  border: 1px solid black;
}

button {
  background: none;
}

html,
body,
main {
  height: 100vh;
}

.management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  margin-bottom: 75px;
}

.management__tab--account {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 30px;
}

.management__tab--comments {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.management__title {
  margin-bottom: 30px;
}

.management__body {
  background: #fff;
  border-radius: 15px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

@media (max-width: 1200px) {
  .management__body {
    border-radius: 10px;
  }
}

.management__account-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.management__account-photo {
  height: 150px;
  min-width: 150px;
  background: #a1a1b1;
  border-radius: 100%;
  margin-right: 25px;
}

.management__account-name {
  margin-bottom: 5px;
}

.management__account-edit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #DADAEA;
}

.management__account-edit-button span {
  margin-right: 5px;
  font-size: 20px;
}

.management__account-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 25px;
}

.management__account-input-group--margined {
  margin-bottom: 15px;
}

.management__account-input-group--margined .management__account-input {
  padding-right: 35px;
}

.management__account-input-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  font-size: 25px !important;
  left: 0;
  margin-left: 10px;
  color: #6666ff;
}

.management__account-visibility-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.management__account-input-icon--visibility {
  left: unset;
  right: 0;
  margin-right: 10px;
  color: #a1a1b1;
  font-size: 22px !important;
}

.management__account-label {
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.management__account-input {
  padding-left: 40px;
  width: 100%;
}

.management__account-button {
  margin-bottom: 20px;
}

.management__account-delete-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #DADAEA;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.management__account-delete-button span {
  margin-right: 5px;
  font-size: 20px;
}
