* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea,
input,
select {
  border: none;
  background: transparent;
}

button {
  background: none;
}

html,
body,
main {
  height: 100vh;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags .tag {
  margin-right: 10px;
  margin-bottom: 10px;
}

.tags__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 15px;
  color: #2f2e44;
}

.tag {
  background: #a1a1b1;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.tag--new {
  background: none;
  -webkit-box-shadow: inset 0px 0px 0px 2px #a1a1b1;
          box-shadow: inset 0px 0px 0px 2px #a1a1b1;
  color: #a1a1b1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 29px;
  padding: 7px 5px;
  -webkit-transition: max-width .3s ease-in-out, padding .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: max-width .3s ease-in-out, padding .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: max-width .3s ease-in-out, padding .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: max-width .3s ease-in-out, padding .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.tag--new .tag__label {
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  color: inherit;
}

.tag--new .tag__label span {
  color: inherit;
  font-size: 19px;
}

.tag--new-active {
  max-width: 95px;
  padding: 7px 10px;
  -webkit-box-shadow: 0px 0px 0px 2px transparent;
          box-shadow: 0px 0px 0px 2px transparent;
  color: #fff;
  background: #a1a1b1;
}

.tag__input {
  font-size: 12px;
  font-weight: 600;
  color: inherit;
  width: 100%;
}

.tag__input::-webkit-input-placeholder {
  font-weight: 600;
  color: inherit;
}

.tag__input:-ms-input-placeholder {
  font-weight: 600;
  color: inherit;
}

.tag__input::-ms-input-placeholder {
  font-weight: 600;
  color: inherit;
}

.tag__input::placeholder {
  font-weight: 600;
  color: inherit;
}

.tag__input:hover {
  cursor: pointer;
}

.tag--checkbox:before {
  font-family: "Material Icons Round";
  content: "star";
  font-size: 15px;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: max-width .1s;
  transition: max-width .1s;
}

.tag--main:before {
  font-family: "Material Icons Round";
  content: "star";
  font-size: 15px;
  max-width: 15px;
  margin-right: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tag__checkbox {
  display: none;
}

.tag__label:hover {
  cursor: pointer;
}

.tooltip,
.dropdown {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.85);
}

.tooltip__arrow,
.dropdown__arrow {
  top: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, 0.85);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
}

.filter__dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.card--big {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.card--rectangle {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.card--rectangle .card__image {
  padding-bottom: 55%;
  border: 5px solid #fff;
}

.card--add {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.card--add .card__image {
  padding-bottom: 56.25%;
  background: #fff;
}

.card__add-icon {
  color: #6666ff !important;
  font-size: 100px !important;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card__image {
  position: relative;
  background: #a1a1b1;
  padding-bottom: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  .card__image {
    border-radius: 10px;
  }
}

@media (max-width: 1200px) {
  .card__image {
    margin-bottom: 20px;
  }
}

.card__header {
  position: absolute;
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__favorite-button {
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

.card__favorite-button:hover {
  cursor: pointer;
}

.card__favorite-button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.card__favorite-icon {
  font-size: 24px !important;
  color: #a1a1b1;
  background: #fff;
  border-radius: 100%;
  padding: 6px;
}

.card__favorite-icon--active {
  color: #ff6688 !important;
}

.card__views {
  background: #fff;
  border-radius: 50px;
  padding: 6px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.card__views-count {
  font-size: 14px;
  font-weight: 600;
  color: #a1a1b1;
}

.card__views-icon {
  margin-right: 5px;
  font-size: 15px !important;
  color: #a1a1b1 !important;
}

.card__title {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 50px;
  height: 60px;
  width: 90%;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .card__title {
    height: 50px;
  }
}

.card__text {
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .card__text {
    margin-top: 10px;
  }
}

.card__date {
  font-size: 14px;
  font-weight: 600;
  color: #a1a1b1;
  background: #fff;
  border-radius: 50px;
  padding: 6px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .card__footer {
    margin-top: 10px;
  }
}

.player {
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding: 0 7.5px;
}

@media (max-width: 1200px) {
  .player {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0;
  }
}

.player__rationed {
  background: #fff;
  border-radius: 15px;
  padding-bottom: 56.25%;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .player__rationed {
    border-radius: 10px;
  }
}

.player__video {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
  z-index: 0;
}

@media (max-width: 1200px) {
  .player__video {
    border-radius: 10px;
  }
}

.player__overlay {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  border-radius: 15px;
  -webkit-box-shadow: white 0px 0px 0px 1px;
          box-shadow: white 0px 0px 0px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .player__overlay {
    border-radius: 10px;
  }
}

.player__overlay-image {
  width: 33.85417vw !important;
}

.player__image {
  background: #a1a1b1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.player__image--blurred {
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.audio {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 1.30208vw 1.30208vw;
}

@media (max-width: 770px) {
  .audio {
    padding: 0px 5px 5px;
  }
}

.audio__player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: rgba(18, 18, 18, 0.9);
  padding: 10px 0;
  border-radius: 15px;
  height: 60px;
}

@media (max-width: 1200px) {
  .audio__player {
    border-radius: 10px;
  }
}

@media (max-width: 770px) {
  .audio__player {
    height: 40px;
    padding: 5px 0;
  }
}

.audio__button-toggle {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  background: #6666ff;
  border-radius: 10px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.audio__button-toggle i {
  margin-right: 5px;
}

@media (max-width: 770px) {
  .audio__button-toggle {
    height: 30px;
    min-width: 30px;
    border-radius: 100%;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .audio__button-toggle i {
    font-size: 17px;
    margin: 0;
  }
  .audio__button-toggle span {
    display: none;
  }
}

.audio__progress-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2.60417vw;
  width: 100%;
}

@media (max-width: 770px) {
  .audio__progress-control {
    margin: 0 10px;
  }
}

.audio__button-state {
  font-size: 25px;
  color: #fff;
  margin-right: 1.30208vw;
}

@media (max-width: 770px) {
  .audio__button-state {
    font-size: 20px;
    margin-right: 10px;
  }
}

.audio__progress-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  width: 100%;
}

@media (max-width: 770px) {
  .audio__progress-bar {
    margin-right: 10px;
  }
}

.audio__progress-maximum,
.audio__volume-maximum {
  height: 5px;
  border-radius: 10px;
  background: #848499;
}

.audio__progress-maximum {
  width: 100%;
}

.audio__progress-current,
.audio__volume-current {
  height: 5px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.audio__progress-current {
  width: 50%;
}

.audio__progress-cursor,
.audio__volume-cursor {
  height: 13px;
  min-width: 13px;
  border-radius: 50px;
  background: #fff;
}

.audio__progress-cursor:hover,
.audio__volume-cursor:hover {
  cursor: -webkit-grab !important;
  cursor: grab !important;
}

.audio__progress-cursor:active,
.audio__volume-cursor:active {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

.audio__timer {
  white-space: nowrap;
}

.audio__timer-current,
.audio__timer-separator,
.audio__timer-maximum {
  font-size: 14px;
  color: #848499;
  font-weight: 600;
}

@media (max-width: 770px) {
  .audio__timer-current,
  .audio__timer-separator,
  .audio__timer-maximum {
    font-size: 10px;
  }
}

.audio__volume-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.30208vw;
}

.audio__volume-button span {
  font-size: 30px;
  color: #fff;
}

.audio__volume-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.60417vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 770px) {
  .audio__volume-control {
    display: none;
  }
}

.audio__volume-bar {
  position: relative;
}

.audio__volume-current {
  width: 50%;
}

.audio__volume-maximum {
  width: 100px;
}

@media (max-width: 1400px) {
  .audio__volume-maximum {
    width: 75px;
  }
}

.description {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .description {
    position: static;
  }
}

.description__header {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

@media (max-width: 1200px) {
  .description__header {
    margin-top: 0;
  }
}

.description__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  padding-right: 5px;
}

.description__body::-webkit-scrollbar {
  width: 6px;
}

.description__body::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 20px;
}

.description__body::-webkit-scrollbar-thumb {
  background: #DADAEA;
  border-radius: 20px;
}

.description__body::-webkit-scrollbar-thumb:hover {
  background: #a1a1b1;
}

.description__title {
  background: #fff;
}

.description__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.description__tags-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 15px;
}

.description__tag {
  background: #a1a1b1;
  padding: 6px 10px;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 770px) {
  .description__tag {
    font-size: 10px;
  }
}

.description__tag--main:before {
  content: "star";
  font-family: 'Material Icons Round';
  font-size: 15px;
  margin-right: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 770px) {
  .description__tag--main:before {
    font-size: 12px;
  }
}

.description__footer {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__date {
  font-size: 1.6em;
  font-weight: 600;
  color: #a1a1b1;
  margin-right: 25px;
}

.description__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a1a1b1;
}

.description__views-icon {
  font-size: 1.6em !important;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.description__views-count {
  font-size: 1.6em;
  font-weight: 600;
}

.description__mobile-button {
  display: none;
}

.description__mobile-button span {
  font-size: 30px;
  margin-right: -10px;
}

@media (max-width: 1200px) {
  .description__mobile-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

.comment__image {
  background: #a1a1b1;
  height: 35px;
  min-width: 35px;
  border-radius: 100%;
  margin-right: 15px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.comment__name {
  font-weight: 600;
  color: #2f2e44;
}

.comment__mention {
  font-weight: 600;
  color: #6666ff;
}

.comment__date {
  margin-top: 5px;
  display: block;
  font-weight: 600;
}

.comments {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .comments {
    position: static;
  }
}

.comments__header {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .comments__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 15px;
  }
}

.comments__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  padding-right: 5px;
}

.comments__body::-webkit-scrollbar {
  width: 6px;
}

.comments__body::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 20px;
  margin-top: 10px;
}

.comments__body::-webkit-scrollbar-thumb {
  background: #DADAEA;
  border-radius: 20px;
}

.comments__body::-webkit-scrollbar-thumb:hover {
  background: #a1a1b1;
}

.comments__count {
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .comments__count {
    display: none;
  }
}

.comments__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.comments__account-link {
  height: 35px;
}

.comments__account-link span {
  font-size: 35px;
  color: #6666ff;
}

.comments__textarea {
  height: 35px;
  border-radius: 10px;
  background: #f5f5f5;
  border: none;
  font-size: 14px;
  color: #848499;
  padding: 5px 15px;
  width: 100%;
  margin: 0 7.5px;
}

.comments__textarea::-webkit-input-placeholder {
  font-weight: 500;
  color: #a1a1b1;
}

.comments__textarea:-ms-input-placeholder {
  font-weight: 500;
  color: #a1a1b1;
}

.comments__textarea::-ms-input-placeholder {
  font-weight: 500;
  color: #a1a1b1;
}

.comments__textarea::placeholder {
  font-weight: 500;
  color: #a1a1b1;
}

.comments__send-button {
  height: 35px;
  min-width: 35px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #6666ff;
}

.comments__send-button span {
  font-size: 20px;
  color: #fff;
}

.comments__mobile-button {
  display: none;
}

.comments__mobile-button span {
  font-size: 30px;
  margin-right: -10px;
}

@media (max-width: 1200px) {
  .comments__mobile-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.editor {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 12;
}

@media (max-width: 1200px) {
  .editor {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    position: static;
    max-height: 450px;
  }
}

.editor__form {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .editor__form {
    position: static;
  }
}

.editor__header {
  padding-bottom: 15px;
  border-bottom: 1px solid #DADAEA;
}

.editor__title {
  font-weight: 600;
  color: #2f2e44;
}

.editor__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  padding-right: 5px;
  padding-top: 15px;
}

.editor__body::-webkit-scrollbar {
  width: 6px;
}

.editor__body::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 20px;
}

.editor__body::-webkit-scrollbar-thumb {
  background: #DADAEA;
  border-radius: 20px;
}

.editor__body::-webkit-scrollbar-thumb:hover {
  background: #a1a1b1;
}

.editor__label {
  color: #2f2e44;
  margin-bottom: 15px;
}

.editor__counter {
  font-size: 14px;
  font-weight: 500;
  color: #DADAEA;
  margin-left: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.editor__input,
.editor__textarea {
  margin-bottom: 25px;
}

.editor__tag {
  margin-bottom: 15px;
}

.editor__button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.editor__footer-button {
  width: 100%;
  margin-top: 10px;
}

.selected {
  margin: 0 -7.5px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (max-width: 1200px) {
  .selected {
    margin: 0 0 30px;
  }
}

.addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 0 7.5px;
}

@media (max-width: 1200px) {
  .addition {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0;
  }
}

.addition__body {
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  padding: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1200px) {
  .addition__body {
    padding: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    border-radius: unset;
    background: unset;
  }
}

.addition__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addition__header {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 0 15px;
  border-bottom: 1px solid #DADAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .addition__header {
    display: none;
  }
}

.addition__header-button {
  margin-right: 25px;
  font-weight: 600;
}

.addition__header-button--active {
  color: #2f2e44;
}

.addition__tabs,
.addition__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.addition__tab {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 0;
}

@media (max-width: 1200px) {
  .addition__tab {
    max-height: 400px;
    position: static;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
            box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
    margin-top: 15px;
  }
}

.addition__tab--description {
  z-index: 11;
}

.addition__tab--comments {
  z-index: 10;
}

.filter {
  margin: 30px 0 15px;
}

.filter__body {
  height: 60px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 15px;
}

@media (max-width: 1200px) {
  .filter__body {
    border-radius: 10px;
  }
}

@media (max-width: 1200px) {
  .filter__body {
    height: 50px;
    padding-right: 15px;
  }
}

.filter__sort-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__sort-button .material-icons-round {
  font-size: 30px;
  color: #6666ff;
}

.filter__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.filter__search-button {
  position: absolute;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: margin .2s ease-in-out;
  transition: margin .2s ease-in-out;
}

.filter__search-button .material-icons-round {
  font-size: 25px;
  color: #6666ff;
}

.filter__search-button--active {
  margin-left: 10px;
}

.filter__search-input {
  height: 35px;
  background: #fafafa;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  color: #2f2e44;
  max-width: 0;
  overflow: hidden;
  padding: 5px 0;
  -webkit-transition: max-width .3s ease-in-out, padding .3s ease-in-out;
  transition: max-width .3s ease-in-out, padding .3s ease-in-out;
  margin-right: 25px;
}

.filter__search-input::-webkit-input-placeholder {
  font-weight: 500;
  color: #a1a1b1;
}

.filter__search-input:-ms-input-placeholder {
  font-weight: 500;
  color: #a1a1b1;
}

.filter__search-input::-ms-input-placeholder {
  font-weight: 500;
  color: #a1a1b1;
}

.filter__search-input::placeholder {
  font-weight: 500;
  color: #a1a1b1;
}

.filter__search-input--active {
  max-width: 400px;
  width: 100%;
  padding: 5px 15px 5px 45px;
}

.sidebar {
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sidebar__body {
  padding: 25px 0;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  height: 100vh;
  background: #fff;
  -webkit-transition: max-width .3s ease-in-out;
  transition: max-width .3s ease-in-out;
}

.sidebar__body--active {
  max-width: 350px;
  overflow-y: auto;
}

.sidebar__body--active::-webkit-scrollbar {
  width: 6px;
}

.sidebar__body--active::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 20px;
  margin: 15px 0;
}

.sidebar__body--active::-webkit-scrollbar-thumb {
  background: #DADAEA;
  border-radius: 20px;
}

.sidebar__body--active::-webkit-scrollbar-thumb:hover {
  background: #a1a1b1;
}

.sidebar__header {
  margin: 0 75px 40px 50px;
}

.sidebar__close-button span {
  font-size: 35px;
}

.sidebar__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.sidebar__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 75px 40px 50px;
}

.sidebar__sort-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  font-weight: 600;
  color: #848499;
}

.sidebar__sort-button:not(:last-child) {
  margin-bottom: 20px;
}

.sidebar__sort-button--active {
  color: #2f2e44;
}

.sidebar__tag:not(:last-child) {
  margin-bottom: 20px;
}

.sidebar__tag-list {
  margin: 0 75px 40px 50px;
}
