* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea,
input,
select {
  border: none;
  background: transparent;
}

button {
  background: none;
}

html,
body,
main {
  min-height: 100vh;
}

.banner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner__carousel {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .banner__carousel {
    border-radius: 10px;
  }
}

.banner__slide {
  position: relative;
}

.banner__slide img {
  display: block;
}

.banner__slide--left .banner__button {
  left: 7.8125vw;
}

.banner__slide--left .banner__text {
  left: 7.8125vw;
}

.banner__slide--right .banner__button {
  right: 7.8125vw;
}

.banner__slide--right .banner__text {
  text-align: end;
  right: 7.8125vw;
}

.banner__button {
  position: absolute;
  color: #333333;
  bottom: 5.20833vw;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__button:after {
  font-family: "Material Icons Round";
  content: "arrow_right_alt";
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 5px;
  padding-top: 2px;
}

.banner__text {
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: pre-line;
}

.about-me {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #f5f5f5;
}

@media (max-width: 1000px) {
  .about-me {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .about-me__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-me__person {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  width: 100%;
  position: relative;
  margin-bottom: 37.5px;
}

@media (max-width: 1000px) {
  .about-me__person {
    width: 75%;
  }
}

.abot-me__photo {
  position: relative;
  background-color: #a1a1b1;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 125%;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .abot-me__photo {
    border-radius: 10px;
  }
}

.about-me__name {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 70px;
  height: 75px;
  width: 90%;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

@media (max-width: 1200px) {
  .about-me__name {
    height: 60px;
  }
}

.about-me__paragraph {
  padding: 0px 5.20833vw;
  -ms-flex-preferred-size: 66.6%;
      flex-basis: 66.6%;
}

@media (max-width: 1500px) {
  .about-me__paragraph {
    padding-left: 5vw;
    padding-right: 0;
  }
}

@media (max-width: 1000px) {
  .about-me__paragraph {
    margin-top: 5vw;
    padding: 0;
  }
}

@media (max-width: 770px) {
  .about-me__paragraph {
    margin-top: 25px;
  }
}

.about-me__title {
  margin-bottom: 2.60417vw;
  text-align: center;
}

@media (max-width: 1000px) {
  .about-me__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 770px) {
  .about-me__title {
    margin-top: 20px;
  }
}

.about-me__merits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

@media (max-width: 1000px) {
  .about-me__merits {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.about-me__card {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  width: 100%;
  padding: 0 1.30208vw;
}

@media (max-width: 1000px) {
  .about-me__card {
    width: 70%;
    padding: 0;
  }
}

@media (max-width: 770px) {
  .about-me__card {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about-me__card--second {
    margin: 50px 0;
  }
}

.about-me__wrapper {
  padding: 0 2.60417vw;
}

@media (max-width: 1500px) {
  .about-me__wrapper {
    padding: 0 40px;
  }
}

@media (max-width: 1400px) {
  .about-me__wrapper {
    padding: 0 2.14286vw;
  }
}

@media (max-width: 1000px) {
  .about-me__wrapper {
    padding: 0 7.5vw;
  }
}

.about-me__picture {
  width: 100%;
  padding-bottom: 75%;
  background: #a1a1b1;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 27.5px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

@media (max-width: 1200px) {
  .about-me__picture {
    border-radius: 10px;
  }
}

.about-me__picture--first {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me__picture--second {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me__picture--third {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me__merit {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 70px;
  height: 55px;
  width: 90%;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

@media (max-width: 1000px) {
  .about-me__merit {
    height: 50px;
  }
}

.about-me__merit-text {
  padding-top: 25px;
}

@media (max-width: 1000px) {
  .about-me__merit-text {
    padding-top: 20px;
  }
}

.reviews {
  padding-bottom: 150px;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__title {
  margin-bottom: 75px;
}

.reviews__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__card {
  background: #fff;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  padding: 75px 30px;
  border-radius: 15px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .reviews__card {
    border-radius: 10px;
  }
}

.reviews__card:not(:last-child) {
  margin-right: 30px;
}

.reviews__card-photo {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  margin-right: 15px;
  background: #a1a1b1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.reviews__card-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.reviews__card-title {
  margin-bottom: 15px;
}

.reviews__card-text {
  margin-bottom: 30px;
}

.reviews__card-grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__card-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.reviews__card-star:before {
  font-family: "Font Awesome 5 Free";
  content: "\f089";
  font-weight: 900;
  font-size: 26.6px;
  min-width: 30px;
  height: 30px;
  color: #ffdd6e;
  opacity: 0.25;
}

.reviews__card-star:after {
  font-family: "Font Awesome 5 Free";
  content: "\f089";
  font-weight: 900;
  font-size: 26.6px;
  min-width: 30px;
  height: 30px;
  color: #ffdd6e;
  margin-left: -30px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  opacity: 0.25;
}

.reviews__card-star--full:before, .reviews__card-star--full:after {
  opacity: 1;
}

.reviews__card-star--half:before {
  opacity: 1;
}

.reviews__card-rating {
  padding: 0px 15px;
  font-size: 25px;
  background: #ffdd6e;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  height: 30px;
}

.reviews__leave-review-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 30px;
  color: #6666ff;
}

.reviews__leave-review-button:before {
  font-family: "Material Icons Round";
  content: "maps_ugc";
  margin-right: 5px;
}

.leave-review {
  max-width: 500px;
  width: 500px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 30px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  overflow: auto;
}

@media (max-width: 1200px) {
  .leave-review {
    border-radius: 10px;
  }
}

.leave-review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #DADAEA;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.leave-review__close-button:before {
  font-family: "Material Icons Round";
  content: "clear";
  color: #a1a1b1;
  font-size: 25px;
}

.leave-review__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leave-review__label {
  margin-bottom: 10px;
  color: #2f2e44;
}

.leave-review__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.leave-review__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.leave-review__grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leave-review__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leave-review__star {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.leave-review__star--full .leave-review__half-star {
  opacity: 1;
}

.leave-review__star--half .leave-review__half-star:nth-child(1) {
  opacity: 1;
}

.leave-review__half-star {
  height: 30px;
  width: 15px;
  opacity: 0.25;
}

.leave-review__half-star:nth-child(2) {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.leave-review__rating {
  padding: 0px 15px;
  font-size: 25px;
  background: #ffdd6e;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  height: 30px;
}

.leave-review__footer {
  margin-top: 30px;
}

.leave-review__button {
  width: 100%;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags .tag {
  margin-right: 10px;
  margin-bottom: 10px;
}

.tags__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 15px;
  color: #2f2e44;
}

.tag {
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: #a1a1b1;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 50px;
  min-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.tag--circle {
  height: 30px;
  min-width: 30px;
  border-radius: 100%;
  margin-right: -10px;
  position: relative;
  z-index: 10;
}

.tag--new {
  background: none;
  -webkit-box-shadow: inset 0px 0px 0px 2px #a1a1b1;
          box-shadow: inset 0px 0px 0px 2px #a1a1b1;
  color: #a1a1b1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 7px 10px;
  -webkit-transition: max-width .3s ease-in-out, min-width .3s ease-in-out, padding .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: max-width .3s ease-in-out, min-width .3s ease-in-out, padding .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: max-width .3s ease-in-out, min-width .3s ease-in-out, padding .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: max-width .3s ease-in-out, min-width .3s ease-in-out, padding .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.tag--new .tag__label {
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  margin-right: 5px;
}

.tag--new .tag__label span {
  color: inherit;
  font-size: 19px;
}

.tag__input {
  font-size: 12px;
  font-weight: 600;
  color: inherit;
  min-width: 55px;
  width: 55px;
}

.tag__input::-webkit-input-placeholder {
  font-weight: 600;
  color: inherit;
}

.tag__input:-ms-input-placeholder {
  font-weight: 600;
  color: inherit;
}

.tag__input::-ms-input-placeholder {
  font-weight: 600;
  color: inherit;
}

.tag__input::placeholder {
  font-weight: 600;
  color: inherit;
}

.tag__input:hover {
  cursor: pointer;
}

.tag--checkbox:before {
  font-family: "Material Icons Round";
  content: "star";
  font-size: 15px;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: max-width .1s;
  transition: max-width .1s;
}

.tag--main:before {
  font-family: "Material Icons Round";
  content: "star";
  font-size: 15px;
  max-width: 15px;
  margin-right: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tag__checkbox {
  display: none;
}

.tag__label:hover {
  cursor: pointer;
}

.tooltip,
.dropdown {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(18, 18, 18, 0.95);
}

.tooltip__arrow,
.dropdown__arrow {
  top: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(18, 18, 18, 0.95);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
}

.dropdown__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.card--square .card__image {
  background-size: auto;
}

.card--big {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.card--rectangle {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.card--rectangle .card__image {
  padding-bottom: 55%;
  border: 5px solid #fff;
}

.card--add {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.card--add .card__image {
  border-radius: 15px;
  padding-bottom: 56.25%;
  background: #fff;
}

@media (max-width: 1200px) {
  .card--add .card__image {
    border-radius: 10px;
  }
}

.card--selected .card__image {
  border: solid 5px #6666ff;
}

.card__add-icon {
  color: #6666ff !important;
  font-size: 100px !important;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card__image {
  position: relative;
  background: #a1a1b1;
  padding-bottom: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

@media (max-width: 1200px) {
  .card__image {
    border-radius: 10px;
  }
}

@media (max-width: 1200px) {
  .card__image {
    margin-bottom: 20px;
  }
}

.card__header {
  position: absolute;
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__favorite-button {
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

.card__favorite-button:hover {
  cursor: pointer;
}

.card__favorite-button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.card__favorite-icon {
  font-size: 24px !important;
  color: #a1a1b1;
  background: #fff;
  border-radius: 100%;
  padding: 6px;
}

@media (max-width: 1000px) {
  .card__favorite-icon {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.card__favorite-icon--active {
  color: #ff6688 !important;
}

.card__views {
  background: #fff;
  border-radius: 50px;
  padding: 6px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.card__views-count {
  font-size: 14px;
  font-weight: 600;
  color: #a1a1b1;
}

@media (max-width: 1000px) {
  .card__views-count {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.card__views-icon {
  margin-right: 5px;
  font-size: 15px !important;
  color: #a1a1b1 !important;
}

@media (max-width: 1000px) {
  .card__views-icon {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.card__title {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 50px;
  height: 60px;
  width: 90%;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  padding: 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .card__title {
    height: 50px;
  }
}

.card__title h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1000px) {
  .card__title h1 {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.card__text {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .card__text {
    margin-top: 10px;
  }
}

@media (max-width: 1000px) {
  .card__text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.card__date {
  font-size: 14px;
  font-weight: 600;
  color: #a1a1b1;
  background: #fff;
  border-radius: 50px;
  padding: 6px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

@media (max-width: 1000px) {
  .card__date {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .card__footer {
    margin-top: 10px;
  }
}

.card__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__tags .tag {
  -webkit-box-shadow: 0px 0px 0px 3px #fafafa;
          box-shadow: 0px 0px 0px 3px #fafafa;
}

.card__tag {
  position: relative;
}

.card__tag-tooltip {
  display: none;
  position: absolute;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  left: -8px;
}

.card__tag-secondary {
  z-index: 1;
  -webkit-transition: margin .2s ease-in-out;
  transition: margin .2s ease-in-out;
}

.card__tag-secondary:hover {
  cursor: pointer;
}

.card__tag-secondary:hover .card__tag-tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__tag-main {
  z-index: 12;
}

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.feed__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}

.feed__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 30px;
}

.updates {
  margin-bottom: 75px;
}

.popular {
  margin-bottom: 150px;
}

.footer {
  background: #f0f0f0;
}

.copyright {
  background: #ebebeb;
}
