* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea,
input,
select {
  border: 1px solid black;
}

button {
  background: none;
}

html,
body,
main {
  height: 100vh;
}

.banner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner__carousel {
  width: 100%;
  height: 715px;
  background: #6666ff;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.about-me {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #f5f5f5;
}

@media (max-width: 1000px) {
  .about-me {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .about-me__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-me__person {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  width: 100%;
  position: relative;
  margin-bottom: 37.5px;
}

@media (max-width: 1000px) {
  .about-me__person {
    width: 75%;
  }
}

.abot-me__photo {
  position: relative;
  border-radius: 15px;
  background-image: url("/public/img/photo.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 125%;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me__name {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 70px;
  height: 75px;
  width: 90%;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

@media (max-width: 1200px) {
  .about-me__name {
    height: 60px;
  }
}

.about-me__paragraph {
  padding: 0px 5.20833vw;
  -ms-flex-preferred-size: 66.6%;
      flex-basis: 66.6%;
}

@media (max-width: 1500px) {
  .about-me__paragraph {
    padding-left: 5vw;
    padding-right: 0;
  }
}

@media (max-width: 1000px) {
  .about-me__paragraph {
    margin-top: 5vw;
    padding: 0;
  }
}

@media (max-width: 770px) {
  .about-me__paragraph {
    margin-top: 25px;
  }
}

.about-me__title {
  margin-bottom: 2.60417vw;
  text-align: center;
}

@media (max-width: 1000px) {
  .about-me__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 770px) {
  .about-me__title {
    margin-top: 20px;
  }
}

.about-me__merits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

@media (max-width: 1000px) {
  .about-me__merits {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.about-me__card {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  width: 100%;
  padding: 0 1.30208vw;
}

@media (max-width: 1000px) {
  .about-me__card {
    width: 70%;
    padding: 0;
  }
}

@media (max-width: 770px) {
  .about-me__card {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about-me__card--second {
    margin: 50px 0;
  }
}

.about-me__wrapper {
  padding: 0 2.60417vw;
}

@media (max-width: 1500px) {
  .about-me__wrapper {
    padding: 0 40px;
  }
}

@media (max-width: 1400px) {
  .about-me__wrapper {
    padding: 0 2.14286vw;
  }
}

@media (max-width: 1000px) {
  .about-me__wrapper {
    padding: 0 7.5vw;
  }
}

.about-me__picture {
  width: 100%;
  padding-bottom: 75%;
  background: #a1a1b1;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 27.5px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.about-me__picture--first {
  background-image: url("/public/img/1.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me__picture--second {
  background-image: url("/public/img/2.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me__picture--third {
  background-image: url("/public/img/3.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me__merit {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 70px;
  height: 55px;
  width: 90%;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

@media (max-width: 1000px) {
  .about-me__merit {
    height: 50px;
  }
}

.about-me__merit-text {
  padding-top: 25px;
}

@media (max-width: 1000px) {
  .about-me__merit-text {
    padding-top: 20px;
  }
}

.reviews {
  padding-bottom: 150px;
  background: #f5f5f5;
}

.reviews__title {
  text-align: center;
  margin-bottom: 75px;
}

.reviews__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__card {
  background: #fff;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  padding: 75px 30px;
  border-radius: 15px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__card--first,
.reviews__card--second,
.reviews__card--third {
  margin-right: 30px;
}

.reviews__card-photo {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  margin-right: 15px;
  background-image: url("/public/img/person_ph.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.reviews__card-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.reviews__card-title {
  margin-bottom: 15px;
}

.reviews__card-text {
  margin-bottom: 30px;
}

.reviews__card-grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__card-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.reviews__card-star-half {
  height: 30px;
  width: 15px;
  opacity: 1;
}

.reviews__card-star-half--unselected {
  opacity: 0.25;
}

.reviews__card-rating {
  padding: 0px 15px;
  font-size: 25px;
  background: #ffdd6e;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  height: 30px;
}

.tag {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag__icon {
  height: 25px;
  min-width: 25px;
  border-radius: 100%;
  background: #a1a1b1;
  -webkit-transition: height .1s ease-in-out, width .1s ease-in-out;
  transition: height .1s ease-in-out, width .1s ease-in-out;
}

.tag__icon:not(:first-child) {
  margin-left: -8px;
  -webkit-box-shadow: 0px 0px 0px 3px #fafafa;
          box-shadow: 0px 0px 0px 3px #fafafa;
}

.tag__icon:not(:nth-last-child(2)):hover {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.tag__icon:not(:nth-last-child(2)):hover .tag__tooltip {
  opacity: 1;
  bottom: -5px;
  visibility: visible;
}

.tag__icon:nth-child(1):hover .tag__tooltip {
  left: -5px;
}

.tag__icon:nth-child(2):hover .tag__tooltip {
  left: 5px;
}

.tag__name {
  margin-left: 10px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
  color: #a1a1b1;
}

.tag__checkbox {
  visibility: hidden;
  position: absolute;
}

.tag__checkbox:checked + .tag__checkbox-label .tag__icon--checkbox {
  -webkit-box-shadow: inset 0px 0px 0px 17.5px #6666ff;
          box-shadow: inset 0px 0px 0px 17.5px #6666ff;
}

.tag__checkbox:checked + .tag__checkbox-label .tag__name--checkbox {
  color: #6666ff;
}

.tag__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag__checkbox-label:hover {
  cursor: pointer;
}

.tag__checkbox-label:hover .tag__icon--checkbox {
  -webkit-box-shadow: inset 0px 0px 0px 4px #848499;
          box-shadow: inset 0px 0px 0px 4px #848499;
}

.tag__checkbox-label:hover .tag__name--checkbox {
  color: #848499;
}

.tag__checkbox-label:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.tag__icon--checkbox {
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #a1a1b1;
          box-shadow: inset 0px 0px 0px 3px #a1a1b1;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.tag__name--checkbox {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  font-size: 18px;
  font-weight: 600;
}

.tag__tooltip {
  opacity: 0;
  position: absolute !important;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
}

.tag--main .tag__icon--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag--main .tag__icon--checkbox:before {
  font-family: 'Material Icons Round';
  content: "star";
  font-size: 19px !important;
  position: absolute;
  color: #fff;
}

.tag--new:hover {
  cursor: pointer;
}

.tag--new .tag__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag--new .tag__icon:before {
  font-family: 'Material Icons Round';
  content: "add";
  font-size: 20px;
  position: absolute;
  color: #fff;
}

.tag--new .tag__icon:hover {
  cursor: pointer;
}

.tag__input {
  font-size: 18px;
  font-weight: 600;
  color: #a1a1b1;
  border: none;
  padding: 2px 0;
  border-bottom: 1px solid;
  border-color: #fff;
  margin-left: 10px;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
  width: 100%;
}

.tag__input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #a1a1b1;
}

.tag__input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #a1a1b1;
}

.tag__input::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #a1a1b1;
}

.tag__input::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #a1a1b1;
}

.tag__input:hover {
  cursor: pointer;
}

.tag__input:focus {
  border-color: #DADAEA;
}

.tooltip,
.dropdown {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.85);
}

.tooltip__arrow,
.dropdown__arrow {
  top: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, 0.85);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
}

.filter__dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

.card--square {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.card--big-square {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.card--add {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.card--add .card__image {
  padding-bottom: 56.25%;
  background: #fff;
}

.card--margin {
  margin-bottom: 75px;
}

.card__add-icon {
  color: #6666ff !important;
  font-size: 100px !important;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card--rectangle {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.card--rectangle .card__image {
  padding-bottom: 56.25%;
  border: 5px solid #fff;
}

.card__image {
  position: relative;
  background: #a1a1b1;
  padding-bottom: 100%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.card__header {
  position: absolute;
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__favorite-button {
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

.card__favorite-button:hover {
  cursor: pointer;
}

.card__favorite-button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.card__favorite-icon {
  font-size: 24px !important;
  color: #a1a1b1;
  background: #fff;
  border-radius: 100%;
  padding: 6px;
}

.card__favorite-icon--active {
  color: #ff6688 !important;
}

.card__views {
  background: #fff;
  border-radius: 50px;
  padding: 6px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.card__views-count {
  font-size: 14px;
  font-weight: 600;
  color: #a1a1b1;
}

.card__views-icon {
  margin-right: 5px;
  font-size: 15px !important;
  color: #a1a1b1 !important;
}

.card__title {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 50px;
  height: 60px;
  width: 90%;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.card__text {
  margin-top: 20px;
}

.card__date {
  font-size: 14px;
  font-weight: 600;
  color: #a1a1b1;
  background: #fff;
  border-radius: 50px;
  padding: 6px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.footer {
  background: #f0f0f0;
}

.copyright {
  background: #ebebeb;
}
