* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea,
input,
select {
  border: 1px solid black;
}

button {
  background: none;
}

.auth {
  display: flex;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  justify-content: center;
  margin-right: 55px;
}

@media (max-width: 1400px) {
  .auth {
    margin-right: 40px;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 770px) {
  .auth {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.auth__title {
  margin-bottom: 30px;
}

.auth__input-group {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 576px) {
  .auth__input-group {
    width: 100%;
  }
}

.auth__input {
  width: 500px;
  padding-left: 55px;
}

@media (max-width: 576px) {
  .auth__input {
    width: 100%;
  }
}

.auth__input-icon {
  font-size: 25px !important;
  position: absolute;
}

@media (max-width: 770px) {
  .auth__input-icon {
    font-size: 20px !important;
  }
}

.auth__input-icon--type {
  left: 15px;
  color: #6666ff;
}

.auth__input-icon--visibility {
  right: 15px;
  color: #a1a1b1;
}

.auth__input-icon--visibility:hover {
  cursor: pointer;
}

.auth__input-icon--alarm {
  right: -40px;
  color: #ff6688 !important;
}

@media (max-width: 770px) {
  .auth__input-icon--alarm {
    right: -25px;
  }
}

.auth__input-icon--success {
  right: -40px;
  color: #1dd1bb !important;
}

@media (max-width: 770px) {
  .auth__input-icon--success {
    right: -25px;
  }
}

.auth__input-error {
  position: absolute;
  bottom: -12.5px;
  transform: translateY(50%);
  margin-left: 15px;
  font-size: 12px;
  color: #ff6688;
  font-weight: 500;
}

.auth__input-button {
  width: 500px;
}

.auth__input-button:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .auth__input-button {
    width: 100%;
  }
}

.form__poster {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media (max-width: 1400px) {
  .form__poster {
    display: none;
  }
}

.form__poster--login-in {
  justify-content: flex-start;
}

.form__img {
  width: 37.7604166667vw;
}

.login-with {
  width: 500px;
}

@media (max-width: 576px) {
  .login-with {
    width: 100%;
  }
}

.login-with__text {
  margin-top: 25px;
  text-align: center;
}

.login-with__buttons {
  display: flex;
  margin: 25px 0px;
}

@media (max-width: 576px) {
  .login-with__buttons {
    flex-direction: column;
  }
}

.login-with__button {
  background: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  transition: box-shadow 0.2s;
}

.login-with__button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 25px rgba(102, 102, 255, 0.15);
}

.login-with__button:active {
  transform: scale(0.99);
  box-shadow: 0px 5px 25px rgba(102, 102, 255, 0.2);
}

@media (max-width: 576px) {
  .login-with__button {
    height: 60px;
  }
}

.login-with__button--first {
  margin-right: 20px;
}

@media (max-width: 576px) {
  .login-with__button--first {
    margin-right: 0px;
  }
}

.login-with__button--second {
  margin: 0px 10px;
}

@media (max-width: 576px) {
  .login-with__button--second {
    margin: 15px 0;
  }
}

.login-with__button--third {
  margin-left: 20px;
}

@media (max-width: 576px) {
  .login-with__button--third {
    margin-left: 0;
  }
}

.login-with__icon {
  font-size: 45px;
  transition: font-size 0.2s;
}

@media (max-width: 576px) {
  .login-with__icon {
    font-size: 35px;
  }
}

.login-with__icon--google {
  color: #e44134;
}

.login-with__icon--facebook {
  color: #1977f3;
}

.login-with__icon--twetter {
  color: #1da1f2;
}

.login-with__link {
  color: #6666ff;
  display: inline-flex;
  text-align: center;
  display: block;
  transition: color 0.2s;
}

@media (max-width: 576px) {
  .login-with__link {
    font-size: 16px;
  }
}

.login-with__link:hover {
  color: #5353FF;
}

.login-in {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 770px) {
  .login-in {
    padding: 50px 0;
  }
}

.auth {
  margin-right: 0px;
}

