* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea,
input,
select {
  border: 1px solid black;
}

button {
  background: none;
}

html,
body,
main {
  height: 100vh;
}

.filter {
  margin: 30px 0 15px;
}

.filter__body {
  height: 60px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  position: relative;
}

.filter__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.filter__tag {
  margin-right: 50px;
}

.filter__button .material-icons-round {
  font-size: 25px;
  color: #6666ff;
}

.filter__sort-dropdown {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 15px 30px !important;
}

.filter__sort-dropdown .dropdown__arrow {
  right: 28px;
}

.filter__sort-dropdown-button {
  display: none;
  font-size: 17px;
  color: #a1a1b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 25px;
}

.filter__sort-dropdown-button:not(:last-child) {
  margin-bottom: 15px;
}

.filter__sort-dropdown-button--active {
  color: #fff;
}

.filter__tags-dropdown {
  position: absolute !important;
}

.tag {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag__icon {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: #a1a1b1;
}

.tag__icon:not(:first-child) {
  margin-left: -8px;
  -webkit-box-shadow: 0px 0px 0px 3px #fafafa;
          box-shadow: 0px 0px 0px 3px #fafafa;
}

.tag__name {
  margin-left: 10px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
  color: #a1a1b1;
}

.tag__checkbox {
  visibility: hidden;
  position: absolute;
}

.tag__checkbox:checked + .tag__checkbox-label .tag__icon--checkbox {
  -webkit-box-shadow: inset 0px 0px 0px 17.5px #6666ff;
          box-shadow: inset 0px 0px 0px 17.5px #6666ff;
}

.tag__checkbox:checked + .tag__checkbox-label .tag__name--checkbox {
  color: #6666ff;
}

.tag__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag__checkbox-label:hover {
  cursor: pointer;
}

.tag__checkbox-label:hover .tag__icon--checkbox {
  -webkit-box-shadow: inset 0px 0px 0px 4px #848499;
          box-shadow: inset 0px 0px 0px 4px #848499;
}

.tag__checkbox-label:hover .tag__name--checkbox {
  color: #848499;
}

.tag__checkbox-label:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.tag__icon--checkbox {
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #a1a1b1;
          box-shadow: inset 0px 0px 0px 3px #a1a1b1;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.tag__name--checkbox {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  font-size: 18px;
  font-weight: 600;
}

.tag__tooltip {
  opacity: 0;
  position: absolute !important;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
}

.tag__icon {
  -webkit-transition: height .1s ease-in-out, width .1s ease-in-out;
  transition: height .1s ease-in-out, width .1s ease-in-out;
}

.tag__icon:not(:nth-last-child(2)):hover {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.tag__icon:not(:nth-last-child(2)):hover .tag__tooltip {
  opacity: 1;
  bottom: -5px;
  visibility: visible;
}

.tag__icon:nth-child(1):hover .tag__tooltip {
  left: -5px;
}

.tag__icon:nth-child(2):hover .tag__tooltip {
  left: 5px;
}

.tooltip,
.dropdown {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.85);
}

.tooltip__arrow,
.dropdown__arrow {
  top: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, 0.85);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
}

.filter__dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -7.5px 50px;
}

.selected__player {
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding: 0 7.5px;
}

.selected__rationed {
  background: #fff;
  border-radius: 15px;
  padding-bottom: 56.25%;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.selected__video {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
}

.selected__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 7.5px;
}

.selected__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selected__tag {
  margin-right: 15px;
}

.selected__date {
  font-size: 14px;
  color: #a1a1b1;
  font-weight: 600;
  background: #fff;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  border-radius: 30px;
  padding: 8px 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.selected__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  border-radius: 30px;
}

.selected__views-icon {
  font-size: 15px !important;
  color: #a1a1b1;
  margin-right: 8px;
}

.selected__views-count {
  font-size: 14px;
  color: #a1a1b1;
  font-weight: 600;
}

.selected__addition {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 0 7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selected__description {
  min-height: 55px;
  border-radius: 15px;
  background: #fff;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.selected__comments {
  height: 100%;
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.selected__player-overlay {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 15px;
  -webkit-box-shadow: white 0px 0px 0px 1px;
          box-shadow: white 0px 0px 0px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selected__overlay-image {
  width: 33.85417vw !important;
}

.selected__editor {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
  padding: 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selected__editor-header {
  border-bottom: 1px solid #DADAEA;
}

.selected__editor-title {
  margin-bottom: 10px;
}

.selected__editor-body {
  overflow-y: scroll;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.selected__editor-footer {
  border-top: 1px solid #DADAEA;
}

.selected__editor-label {
  margin-top: 15px;
  color: #2f2e44;
  display: block;
}

.selected__editor-input {
  width: 100%;
  margin-top: 10px;
}

.selected__editor-textarea {
  width: 100%;
  height: 80px;
  margin-top: 10px;
}

.selected__editor-button {
  width: 100%;
  margin-top: 10px;
}

.post-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

.post-card--square {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.post-card--big-square {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.post-card--rectangle {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.post-card--rectangle .post-card__image {
  padding-bottom: 56.25%;
  border: 5px solid white;
}

.post-card__image {
  position: relative;
  background: #a1a1b1;
  padding-bottom: 100%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.post-card__header {
  position: absolute;
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-card__favorite-button {
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

.post-card__favorite-button:hover {
  cursor: pointer;
}

.post-card__favorite-button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.post-card__favorite-icon {
  font-size: 24px !important;
  color: #a1a1b1;
  background: #fff;
  border-radius: 100%;
  padding: 6px;
}

.post-card__favorite-icon--active {
  color: #ff6688 !important;
}

.post-card__views {
  background: #fff;
  border-radius: 50px;
  padding: 6px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.post-card__views-count {
  font-size: 14px;
  font-weight: 600;
  color: #a1a1b1;
}

.post-card__views-icon {
  margin-right: 5px;
  font-size: 15px !important;
  color: #a1a1b1 !important;
}

.post-card__title {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 50px;
  height: 60px;
  width: 90%;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.post-card__text {
  margin-top: 20px;
}

.post-card__date {
  font-size: 14px;
  font-weight: 600;
  color: #a1a1b1;
  background: #fff;
  border-radius: 50px;
  padding: 6px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
          box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.post-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
