* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea,
input,
select {
  border: 1px solid black;
}

button {
  background: none;
}

.filter {
  margin: 50px 0;
}

.filter__body {
  height: 60px;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 25px rgba(161, 161, 177, 0.1);
}

.filter__tags {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.tag {
  position: relative;
  display: flex;
  align-items: center;
}

.tag__icon {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: #a1a1b1;
}

.tag__icon:not(:first-child) {
  margin-left: -8px;
  box-shadow: 0px 0px 0px 3px #fafafa;
}

.tag__name {
  margin-left: 10px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
  color: #a1a1b1;
}

.tag__checkbox {
  visibility: hidden;
  position: absolute;
}

.tag__checkbox:checked + .tag__checkbox-label .tag__icon--checkbox {
  box-shadow: inset 0px 0px 0px 17.5px #6666ff;
}

.tag__checkbox:checked + .tag__checkbox-label .tag__name--checkbox {
  color: #6666ff;
}

.tag__checkbox-label {
  display: flex;
  align-items: center;
}

.tag__checkbox-label:hover {
  cursor: pointer;
}

.tag__checkbox-label:hover .tag__icon--checkbox {
  box-shadow: inset 0px 0px 0px 4px #848499;
}

.tag__checkbox-label:hover .tag__name--checkbox {
  color: #848499;
}

.tag__checkbox-label:active {
  transform: scale(0.98);
}

.tag__icon--checkbox {
  background: #fff;
  box-shadow: inset 0px 0px 0px 3.5px #a1a1b1;
  transition: box-shadow 0.3s ease-in-out;
}

.tag__name--checkbox {
  transition: color 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 500;
}

.tooltip {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
}

.tooltip__arrow {
  top: 0;
  left: 15px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, 0.9);
  transform: translateY(-100%);
  position: absolute;
}

