// custom width
@mixin custom-devices($custom-width) { 
  @media (max-width: #{$custom-width}) {
    @content;
  }
}
// more than 1400px
@mixin xxl-devices {  
  @media (min-width: #{$xxl-min-width}) {
    @content;
  }
}
// less than 1400px
@mixin xl-devices { 
  @media (max-width: #{$xl-max-width}) {
    @content;
  }
}
//  less than 1200px
@mixin lg-devices {
  @media (max-width: #{$lg-max-width}) {
    @content;
  }
}
// less than 1000px
@mixin md-devices {
  @media (max-width: #{$md-max-width}) {
    @content;
  }
}
// less than 770px
@mixin sm-devices {
  @media (max-width: #{$sm-max-width}) {
    @content;
  }
}
// less than 576px
@mixin xs-devices {
  @media (max-width: #{$xs-max-width}) {
    @content;
  }
}
// less than 370px
@mixin xxs-devices {
  @media (max-width: #{$xxs-max-width}) {
    @content;
  }
}
// container
@mixin container {
  box-sizing: border-box;
  // more than 1400px
  @include xxl-devices(){
    padding: 0 vw(150,1920);
  }
  // less than 1400px
  @include xl-devices(){
    padding: 0 vw(75,1400);
  }
  // less than 1200px
  @include lg-devices(){
    padding: 0 vw(50,1200);
  }
  // less than 1000px
  @include md-devices(){
    padding: 0 25px;
  }
  // less than 770px
  @include sm-devices(){
    padding: 0 15px;
  }
  // less than 576px 
  @include xs-devices(){   
    padding: 0 15px;
  }
}
// css bg images
@mixin background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin background-image-url($url) {
  background-image: url($url);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// functions 
@function vw($p,$w) {
  @return $p / $w * 100 + vw;
}

@mixin border-radius {
  border-radius: 15px;

  @include lg-devices {
    border-radius: 10px;
  }
}

@mixin scroll-second {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $bg-main;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: $text-fifth;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $text-third;
  }
}