// extra extra  large (desktops, more than 1400px)
$xxl-min-width: 1400px;
// extra large (desktops, less than 1400px)
$xl-max-width: 1400px; 
// large devices (desktops, less than 1200px)
$lg-max-width: 1200px;
// medium devices (tablets, less than 1000px) 
$md-max-width: 1000px; 
// small devices (phones, less than 770px) 
$sm-max-width: 770px;
// extra small devices (phones, less than 576px)
$xs-max-width: 576px;
// extra extra small devices (phones, less than 370px)
$xxs-max-width: 370px;
// background colors
$bg-main: #fafafa;
$bg-second: #f5f5f5;
$bg-third: #f0f0f0;
$bg-fourth: #ebebeb;
$bg-fifth: #fff;
// text colors
$text-main: #2f2e44;
$text-second: #848499;
$text-third: #a1a1b1;
$text-fourth: #fff;
$text-fifth: #DADAEA;
// color palette 
$color-main: #6666ff;
$color-main--hover: #5353FF;
$color-second: #ff6688;
$color-third: #1dd1bb;
// shadows 
$shadow-second: 0px 5px 25px rgba(161, 161, 177, 0.1);
// font weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400; 