.banned
  display: grid
  grid-row-gap: 30px

.banned__body
  padding: 30px
  background: $color-white
  border-radius: $border-radius-primary
  box-shadow: $box-shadow-primary

.banned__comment
  display: grid
  grid-row-gap: 15px
  // temp
  width: 25%