.register-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: transparentize($color-almost-white, 0.3)
  backdrop-filter: saturate(180%) blur(10px);
  z-index: $z-second

.register-overlay__body
  height: calc( 100vh - 50px )
  display: grid
  grid-auto-rows: max-content
  grid-auto-columns: max-content
  justify-items: center
  align-content: center
  justify-content: center
  grid-row-gap: 20px

.register-overlay__image
  width: 500px

  @include xl-devices
    width: 350px

  @include md-devices
    width: 300px
  
  @include sm-devices
    width: 250px

  @include xxs-devices 
    width: 225px


.register-overlay__hint
  transition: color .2s ease-in-out
  user-select: none
  text-align: center
  line-height: 1.5
  span
    color: $color-primary
  u
    text-decoration: underline
    color: $color-primary
    cursor: pointer

.register-overlay__hint--error
  color: $color-reddish

.register-overlay__input-group
  display: grid
  grid-auto-flow: column
  gap: 15px

.register-overlay__input
  text-align: center
  border-radius: $border-radius-secondary
  background-color: $color-white
  box-shadow: $box-shadow-primary
  font-size: 40px
  font-weight: $semibold
  color: $color-dark
  width: 60px
  height: 90px
  border: transparent 3px solid
  transition: border-color .2s ease-in-out
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button 
    -webkit-appearance: none
  &:placeholder
    color: $color-lightgray
  &:focus
    border-color: transparentize($color-primary, 0.25)

.register-overlay__confirm-button
  width: fit-content
  padding: 0 30px



.profile
  margin: 50px 0
  display: grid
  grid-row-gap: 15px
  grid-column-gap: 30px
  grid-template-columns: 1fr 1.5fr
  @include lg-devices
    grid-column-gap: 15px
  @include md-devices
    grid-template-columns: 1fr 1fr
  @include sm-devices
    grid-template-columns: 1fr
    grid-template-rows: max-content 400px
  
// ===========
// profile tab
// ===========

.profile__tab 
  padding: 30px 
  background: $color-white
  box-shadow: $box-shadow-primary
  border-radius: $border-radius-primary
  display: grid
  grid-row-gap: 20px
  grid-template-rows: max-content 1fr
  grid-template-columns: max-content 1fr
  grid-template-areas: "title button" "body body"
  @include md-devices
    padding: 20px 

.profile__tab-title
  grid-area: title

.profile__tab-editor,
.profile__tab-comments
  position: relative
  grid-area: body
  display: grid
  grid-row-gap: 15px
  grid-auto-rows: max-content

.profile__tab-scrollable
  position: absolute
  width: 100%
  height: 100%
  overflow: auto
  @include scroll-primary
  display: grid
  grid-auto-rows: max-content
  grid-row-gap: 20px

// ==============
// profile editor
// ==============

.profile__editor--disabled
  .profile__editor-image
    &:before
      content: none  

  .input-group-secondary
    padding: 0
    border-color: $color-white

  .profile__editor-footer
    max-height: 0

.profile__editor-header
  display: grid
  grid-template-columns: max-content 1fr
  grid-template-rows: 1fr 1fr
  grid-row-gap: 8px
  grid-column-gap: 15px
  grid-template-areas: "image name" "image button-edit"

.profile__editor-image
  position: relative
  grid-area: image
  width: 100px
  height: 100px
  min-width: 100px
  border-radius: 100%
  box-shadow: $box-shadow-primary
  background-color: $color-semigray
  @include background-image
  @include md-devices
    min-width: 75px
    width: 75px
    height: 75px

  input
    opacity: 0
    position: absolute
    z-index: $z-negative

  &:before
    opacity: 0
    cursor: pointer
    font-family: "Material Icons Round"
    content: "image"
    font-size: 30px
    color: #fafafa
    display: grid
    justify-items: center
    align-items: center
    position: absolute
    width: 100%
    height: 100%
    border-radius: 100%
    background: radial-gradient(circle, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.3) 100%)
    transition: opacity .3s ease-in-out

  &:hover
    &:before
      opacity: 1

.profile__editor-name
  grid-area: name
  align-self: end

.profile__editor-footer 
  display: grid
  grid-row-gap: 15px
  overflow: hidden
  max-height: 205px
  transition: max-height .3s ease-in-out

// ================
// profile comments
// ================

.profile__tab-comments-overlay
  width: 100%
  height: 100%
  position: absolute
  background-size: auto 90%
  background-position: center
  background-repeat: no-repeat
  background-color: $color-white
  @include lg-devices
    background-size: auto 80%
  @include md-devices
    background-size: auto 65%
  @include sm-devices
    background-size: auto 75%

.profile__tab-comment
  height: max-content
  display: grid 
  grid-column-gap: 10px
  grid-auto-flow: column
  justify-content: space-between

// =======
// buttons 
// =======

.profile__tab-button
  display: grid
  align-items: center
  grid-auto-flow: column
  width: max-content
  height: max-content
  &:before
    font-family: "material icons round"
    margin-right: 4px
    font-size: 18px
  &:after
    font-family: "material icons round"
    margin-left: 4px
    font-size: 18px

.profile__tab-button--exit
  justify-self: end
  align-self: center
  &:after
    content: "exit_to_app"

.profile__tab-button--delete-all
  justify-self: end
  align-self: center
  &:after
    content: "delete_forever"

.profile__tab-button--edit-profile
  &:before 
    content: "create"

.profile__tab-button--delete-profile
  justify-self: center
  color: $color-lightgray
  &:before 
    content: "delete_forever"

.profile__tab-button--delete-comment
  &:after
    content: "delete_forever"
    color: $color-gray
    font-size: 20px

.favorites
  display: grid
  grid-row-gap: 30px
  grid-template-areas: "title" "pool"
  
  .pool
    grid-template-columns: repeat(4,1fr)
    @include xl-devices
      grid-template-columns: repeat(3,1fr)
    @include md-devices
      grid-template-columns: repeat(2,1fr)
    @include xs-devices
      grid-template-columns: 1fr

.favorites__title
  grid-area: "title"