.recomend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recomend__title {
  margin: 75px 0 30px;
}

.recomend-card {
  background: $bg-fifth;
  box-shadow: $shadow-second;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin-bottom: 30px;
  max-width: 1200px;
  position: relative;

  @include sm-devices {
    flex-direction: column;
    align-items: center;
  }
}

.recomend-card--new {
  
  .recomend-card__image {
    border: dashed 2px $text-fifth;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.recomend-card__rationed {
  height: 250px;
  min-width: 250px;

  @include xl-devices {
    height: 225px;
    min-width: 225px;
  }

  @include sm-devices {
    width: 100%;
    height: unset;
    padding: 0 vw(100, 770);
  }

  @include xs-devices {
    padding: 0 vw(50, 576);
  }

  @include xxs-devices {
    padding: 0;
  }
}
.recomend-card__image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: $text-third;
  padding-bottom: 100%;
  position: relative;

  @include lg-devices {
    padding-bottom: 66.6%;
  }

  @include sm-devices {
    margin-bottom: 20px;
  }
}

.recomend-card__content {
  margin: 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @include xl-devices {
    margin: 0 35px;
  }

  @include lg-devices {
    margin: 0 25px;
  }

  @include sm-devices {
    align-items: center;
  }
}

.recomend-card__title {
  margin-bottom: 20px;

  @include sm-devices {
    margin-bottom: 15px;
  }
}

.recomend-card__text {
  margin-bottom: 10px;
}

.recomend-card__link {
  margin-bottom: 10px;
}

.recomend-card__textarea {
  margin: 15px 0 15px;
  width: 100%;
}

.recomend-card__input {
  width: 100%;
  flex-basis: 100%;
  max-height: 40px;
}

.recomend-card__input--link {
  flex-basis: 70%;
  margin-right: 15px;
}

.recomend-card__input-group {
  display: flex;
  width: 100%;

  @include sm-devices {
    flex-direction: column;
  }
}

.recomend-card__button {
  flex-basis: 30%;
  max-height: 40px;

  @include sm-devices {
    margin-top: 15px;
  }
}

.recomend-card__upload-button {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  background: $color-main;
  color: $bg-third;
  font-weight: $semibold;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  align-self: center;

  span {
    font-size: 30px !important;
  }
}