// background colors
$bg-main: #fafafa;
$bg-second: #f5f5f5;
$bg-third: #f0f0f0;
$bg-fourth: #ebebeb;
$bg-fifth: #fff;
// text colors
$text-main: #2f2e44;
$text-second: #848499;
$text-third: #a1a1b1;
$text-fourth: #fff;
// color palette 
$color-main: #6666ff;
$color-main--hover: #5353FF;
$color-second: #ff6688;
$color-third: #1dd1bb;
// shadows 
$shadow-second: 0px 5px 25px rgba(161, 161, 177, 0.1);
// font weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400; 