@import "presets/import";
@import "components/comment";
@import "components/tags";
@import "components/card";
@import "components/tags";
@import "components/tooltips";
@import "sections/reviews";
@import "components/alert";

.register-overlay {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparentize($color: $bg-main, $amount: 0.05);
  justify-content: center;
  align-items: center;
  z-index: $z-fifth;
}

.register-overlay__image {
  width: 600px;

  @include xl-devices {
    width: 450px;
  }

  @include md-devices {
    width: 400px;
  }
  
  @include sm-devices {
    width: 325px;
  }

  @include xxs-devices {
    width: 275px;
  }
}

.management {
  display: flex;
  margin-top: 75px;
  margin-bottom: 75px;
  
  @include lg-devices {
    flex-direction: column;
  }
}

.management__tab {
  display: flex;
  flex-direction: column;
}

.management__tab-header {
  margin-bottom: 30px;
}

.management__tab-body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px;
  background: $bg-fifth;
  box-shadow: $shadow-second;
  @include border-radius;

  @include lg-devices {
    padding: 25px;
  }
}

.management__tab-body--uneditable {
  .management__account-input-group {
    
    &:before {
      left: 0;
    }

    .management__account-input {
      border: 2px solid transparent;
      padding-left: 30px;
    }
  }
  .management__account-editor-group {
    max-height: 0px;
    overflow: hidden;
  }
}


.management__tab-content {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.management__tab--account {
  flex-basis: 40%;
  margin-right: 30px;

  @include lg-devices {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

.management__tab--comments {
  flex-basis: 60%;

  @include lg-devices {
    .management__tab-body {
      height: 500px;
    }
  }
}

.management__tab-scrollable {
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  @include scroll-second;
}


.management__account-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.management__account-photo {
  height: vw(150, 1920);
  min-width: vw(150, 1920);
  background: $text-third;
  border-radius: 100%;
  margin-right: 25px;
  position: relative;
  background: url(https://images.unsplash.com/photo-1599741387762-a48483a60261?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80);
  @include background-image;

  @include lg-devices {
    height: 75px;
    min-width: 75px;
  }

  &:hover {
    cursor: pointer;

    &:before {
      opacity: 1;
    }
  }

  &:before {
    font-family: "Material Icons Round";
    content: "image";
    font-size: 40px;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.30) 100%);
    border-radius: 100%;
    transition: opacity .3s ease-in-out;
    opacity: 0;
  }
}

.management__account-photo-input {
  display: none;
}

.management__account-name {
  margin-bottom: 5px;
}

.management__account-edit-button {
  display: flex;
  align-items: center;
  color: $text-fifth;

  span {
    margin-right: 5px;
    font-size: 20px;
  }
}

.management__account-input-group {
  display: flex;
  position: relative;
  margin-bottom: 25px;
  max-height: 500px;
  transition: max-height .3s ease-in-out;

  &:before {
    font-family: "Material Icons Round";
    font-size: 25px;
    position: absolute;
    align-self: center;
    left: 10px;
    color: $color-main;
    z-index: $z-first;
    transition: left .2s ease-in-out;
  }
}

.management__account-input-group--account {
  &:before {
    content: "account_circle";
  }
}

.management__account-input-group--email {
  &:before {
    content: "email";
  }
}

.management__account-input-group--new-password {
  &:before {
    content: "enhanced_encryption";
  }
}

.management__account-input-group--password {
  &:before {
    content: "lock";
  }
}

.management__account-input-group--confirm-password {
  &:before {
    content: "check";
  }
}

.management__account-editor-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.management__account-input-error {
  font-size: 12px;
  color: $color-second;
  position: absolute;
  top: -9.5px;
  transform: translateY(-50%);
}

.management__account-visibility-button {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  align-self: center;
}

.management__account-input-icon--visibility {
  left: unset;
  right: 0;
  margin-right: 10px;
  color: $text-third;
  font-size: 22px !important;
}

.management__account-label {
  margin-bottom: 15px;
  align-items: center;
}

.management__account-input {
  padding-left: 40px;
  width: 100%;
  padding-right: 35px;
  transition: padding .2s ease-in;
}

.management__account-button {
  margin-bottom: 20px;
}

.management__account-delete-button {
  display: flex;
  align-items: center;
  color: $text-fifth;
  width: 100%;
  justify-content: center;

  span {
    margin-right: 5px;
    font-size: 20px;
  }
}

// ===================
// managments comments
// =================== 

.management__account-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: $bg-fifth;
  z-index: $z-first;
  @include border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

.management__account-overlay-image {
  width: vw(650,1920) !important;
}

.management__comments-delete-button  {
  display: flex;
  align-items: center;
  color: $text-fifth;
  width: max-content;
  margin-bottom: 30px;

  span {
    margin-right: 5px;
  }
}

.management__comment {
  display: flex;
  margin-right: 15px;
  margin-bottom: 30px;
}

.management__comment-image {
  height: 100px;
  min-width: 100px;
  background: $text-third;
  @include border-radius;
  margin-right: 15px;

  @include lg-devices {
    height: 50px;
    min-width: 50px;
  }
}

.managment__comment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .comment {
    margin: 0;
  }
}

.managment__comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.management__comment-delete-button {
  display: flex;
  align-self: center;
  height: max-content;
  span {
    color: $text-fifth;
    font-size: 25px;
  }
}

// =================
// reviews-managment
// =================

.reviews-management__body {
  display: flex;
  background: $bg-fifth;
  box-shadow: $shadow-second;
  @include border-radius;
  margin: 30px 0;

  .reviews__card {
    background: unset;
    box-shadow: unset;
  }
}

.reviews__card-button-group {
  display: flex;
  margin-top: 25px;
}

.reviews__card-button {
  width: 100%;
}

.reviews__card-button--delete {
  background: $color-second;
  margin-right: 7.5px;

  &:hover {
    background: darken($color: $color-second, $amount: 3);
  }
}

.reviews__card-button--apply {
  background: $color-third;
  
  &:hover {
    background: darken($color: $color-third, $amount: 3);
  }
}