@import "presets/import";

.management {
  display: flex;
  margin-top: 75px;
  margin-bottom: 75px;
}

.management__tab--account {
  flex-basis: 40%;
  margin-right: 30px;
}

.management__tab--comments {
  flex-basis: 60%;
}

.management__title {
  margin-bottom: 30px;
}

.management__body {
  background: $bg-fifth;
  @include border-radius;
  padding: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-second;
  flex-grow: 1;
}

.management__account-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.management__account-photo {
  height: 150px;
  min-width: 150px;
  background: $text-third;
  border-radius: 100%;
  margin-right: 25px;
}

.management__account-name {
  margin-bottom: 5px;
}

.management__account-edit-button {
  display: flex;
  align-items: center;
  color: $text-fifth;

  span {
    margin-right: 5px;
    font-size: 20px;
  }
}

.management__account-input-group {
  display: flex;
  position: relative;
  margin-bottom: 25px;
}

.management__account-input-group--margined {
  margin-bottom: 15px;

  .management__account-input  {
    padding-right: 35px;
  }
}

.management__account-input-icon {
  display: flex;
  align-self: center;
  position: absolute;
  font-size: 25px !important;
  left: 0;
  margin-left: 10px;
  color: $color-main;
}

.management__account-visibility-button {
  display: flex;
  align-items: center;
}

.management__account-input-icon--visibility {
  left: unset;
  right: 0;
  margin-right: 10px;
  color: $text-third;
  font-size: 22px !important;
}

.management__account-label {
  margin-bottom: 15px;
  align-items: center;
}

.management__account-input {
  padding-left: 40px;
  width: 100%;
}

.management__account-button {
  margin-bottom: 20px;
}

.management__account-delete-button {
  display: flex;
  align-items: center;
  color: $text-fifth;
  width: 100%;
  justify-content: center;

  span {
    margin-right: 5px;
    font-size: 20px;
  }
}




.management__comments-delete-all-button  {
  display: flex;
  align-items: center;
  color: $text-fifth;
  margin-bottom: 25px;

  span {
    margin-right: 5px;
  }
}

.managment__comment {
  display: flex;
}

.managment__comment-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
}

.managment__comment-image {
  height: 100px;
  min-width: 100px;
  @include border-radius;
  background: $text-third;
}

.managment__comment-title {
  margin-bottom: 10px;
}

.managment__comment-date {
  font-size: 12px;
  color: $text-third;
  font-weight: $medium;
  margin-top: 5px;
}

.managment__comment-delete-button {

  span {
    font-size: 30px !important;
    color: $text-fifth;
  }
}