@import "presets/import";
@import "components/comment";
@import "components/tags";
@import "sections/reviews";

.management {
  display: flex;
  margin-top: 75px;
  margin-bottom: 75px;
  
  @include lg-devices {
    flex-direction: column;
  }
}

.management__tab {
  display: flex;
  flex-direction: column;
}

.management__tab-header {
  margin-bottom: 30px;
}

.management__tab-body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px;
  background: $bg-fifth;
  box-shadow: $shadow-second;
  @include border-radius;

  @include lg-devices {
    padding: 15px;
  }
}

.management__tab-content {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.management__tab--account {
  flex-basis: 40%;
  margin-right: 30px;

  @include lg-devices {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

.management__tab--comments {
  flex-basis: 60%;

  @include lg-devices {
    .management__tab-body {
      height: 500px;
    }
  }
}

.management__tab-scrollable {
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  @include scroll-second;
}


.management__account-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.management__account-photo {
  height: 150px;
  min-width: 150px;
  background: $text-third;
  border-radius: 100%;
  margin-right: 25px;

  @include lg-devices {
    height: 75px;
    min-width: 75px;
  }
}

.management__account-name {
  margin-bottom: 5px;
}

.management__account-edit-button {
  display: flex;
  align-items: center;
  color: $text-fifth;

  span {
    margin-right: 5px;
    font-size: 20px;
  }
}

.management__account-input-group {
  display: flex;
  position: relative;
  margin-bottom: 25px;
}

.management__account-input-group--margined {
  margin-bottom: 15px;

  .management__account-input  {
    padding-right: 35px;
  }
}

.management__account-input-icon {
  display: flex;
  align-self: center;
  position: absolute;
  font-size: 25px !important;
  left: 0;
  margin-left: 10px;
  color: $color-main;
}

.management__account-visibility-button {
  display: flex;
  align-items: center;
}

.management__account-input-icon--visibility {
  left: unset;
  right: 0;
  margin-right: 10px;
  color: $text-third;
  font-size: 22px !important;
}

.management__account-label {
  margin-bottom: 15px;
  align-items: center;
}

.management__account-input {
  padding-left: 40px;
  width: 100%;
}

.management__account-button {
  margin-bottom: 20px;
}

.management__account-delete-button {
  display: flex;
  align-items: center;
  color: $text-fifth;
  width: 100%;
  justify-content: center;

  span {
    margin-right: 5px;
    font-size: 20px;
  }
}

// ===================
// managments comments
// =================== 

.management__account-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: $bg-fifth;
  z-index: $z-first;
  @include border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

.management__account-overlay-image {
  width: vw(650,1920) !important;
}

.management__comments-delete-button  {
  display: flex;
  align-items: center;
  color: $text-fifth;
  width: max-content;
  margin-bottom: 30px;

  span {
    margin-right: 5px;
  }
}

.management__comment {
  display: flex;
  margin-right: 15px;
  margin-bottom: 30px;
}

.management__comment-image {
  height: 100px;
  min-width: 100px;
  background: $text-third;
  @include border-radius;
  margin-right: 15px;

  @include lg-devices {
    height: 50px;
    min-width: 50px;
  }
}

.managment__comment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .comment {
    margin: 0;
  }
}

.managment__comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.management__comment-delete-button {
  display: flex;
  align-self: center;
  height: max-content;
  span {
    color: $text-fifth;
    font-size: 25px;
  }
}

// =================
// reviews-managment
// =================

.reviews-management {

}

.reviews-management__body {
  display: flex;
  background: $bg-fifth;
  box-shadow: $shadow-second;
  @include border-radius;
  margin: 30px 0;

  .reviews__card {
    background: unset;
    box-shadow: unset;
  }
}

.reviews__card-button-group {
  display: flex;
  margin-top: 25px;
}

.reviews__card-button {
  width: 100%;
}

.reviews__card-button--delete {
  background: $color-second;
  margin-right: 7.5px;

  &:hover {
    background: darken($color: $color-second, $amount: 3);
  }
}

.reviews__card-button--apply {
  background: $color-third;
  
  &:hover {
    background: darken($color: $color-third, $amount: 3);
  }
}