@import "presets/import";
@import "sections/banner";
@import "sections/about-me";
@import "sections/reviews";
@import "components/tags";
@import "components/tooltips";
@import "components/card";


.feed {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.feed__title {
  flex-basis: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.updates {
  margin-bottom: 75px;

  .card {
    flex-basis: 25%;
  }
}

.popular {
  margin-bottom: 150px;

  .card {
    flex-basis: 33.3%;
  }
}

.footer {
  background: $bg-third;
}

.copyright {
  background: $bg-fourth;
}