* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

textarea,
input,
select,
button {
  border: none;
  background: transparent;
}

textarea {
  resize: none;
}

html,
body,
main {
  min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-background-clip: text;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body,
textarea,
input,
button {
  font-family: 'Montserrat', sans-serif;
}

body,
button {
  font-size: 10px;
}

@media (max-width: 1500px) {
  body,
  button {
    font-size: 9px;
  }
}

@media (max-width: 1400px) {
  body,
  button {
    font-size: 8px;
  }
}

@media (max-width: 1200px) {
  body,
  button {
    font-size: 7.5px;
  }
}

body {
  background: #fafafa;
  overflow-x: hidden;
}

@media (min-width: 1400px) {
  .container {
    padding-left: 7.8125vw;
    padding-right: 7.8125vw;
  }
}

@media (max-width: 1400px) {
  .container {
    padding-left: 5.35714vw;
    padding-right: 5.35714vw;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-left: 4.16667vw;
    padding-right: 4.16667vw;
  }
}

@media (max-width: 1000px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 770px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.heading-first {
  color: #2f2e44;
  font-weight: 700;
  font-size: 6.5em;
}

@media (max-width: 770px) {
  .heading-first {
    font-size: 4.5em;
  }
}

.heading-second {
  color: #2f2e44;
  font-weight: 700;
  font-size: 4em;
}

.heading-third {
  color: #2f2e44;
  font-weight: 600;
  font-size: 3.5em;
}

.heading-fourth {
  color: #2f2e44;
  font-weight: 600;
  font-size: 3em;
}

.heading-fifth {
  color: #2f2e44;
  font-weight: 600;
  font-size: 2.5em;
}

.heading-sixth {
  color: #2f2e44;
  font-weight: 600;
  font-size: 2em;
}

.text-first {
  color: #848499;
  font-weight: 500;
  font-size: 3em;
  line-height: 1.3;
}

@media (max-width: 770px) {
  .text-first {
    font-size: 2.5em;
  }
}

.text-second {
  color: #848499;
  font-weight: 500;
  font-size: 2.5em;
}

.text-third {
  color: #848499;
  font-weight: 500;
  font-size: 2em;
}

.text-fourth {
  color: #848499;
  font-weight: 500;
  font-size: 1.8em;
}

.text-fifth {
  color: #848499;
  font-weight: 500;
  font-size: 1.6em;
}

.text-sixth {
  color: #848499;
  font-weight: 500;
  font-size: 1.4em;
}

.input-group-primary,
.input-group-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a1a1b1;
  font-weight: 500;
}

.input-group-primary:hover,
.input-group-secondary:hover {
  cursor: pointer;
}

.input-group-primary:before, .input-group-primary:after,
.input-group-secondary:before,
.input-group-secondary:after {
  font-family: "material icons round";
  color: #6666ff;
  margin-right: 10px;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.input-group-primary .input-group__inner,
.input-group-secondary .input-group__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-group-primary .input-group__title,
.input-group-secondary .input-group__title {
  color: inherit;
  font-weight: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: font-size .3s ease-in-out, margin-bottom .3s ease-in-out, color .2s ease-in-out;
  transition: font-size .3s ease-in-out, margin-bottom .3s ease-in-out, color .2s ease-in-out;
}

.input-group-primary .input-group__counter,
.input-group-secondary .input-group__counter {
  margin-left: 5px;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.input-group-primary .input-group__input,
.input-group-secondary .input-group__input {
  font-weight: inherit;
  color: #2f2e44;
  opacity: 0;
  max-height: 0;
  -webkit-transition: opacity .3s ease-in-out, max-height .3s ease-in-out;
  transition: opacity .3s ease-in-out, max-height .3s ease-in-out;
}

.input-group-primary .input-group__input:hover,
.input-group-secondary .input-group__input:hover {
  cursor: pointer;
}

.input-group-primary .input-group__input::-webkit-input-placeholder,
.input-group-secondary .input-group__input::-webkit-input-placeholder {
  color: #a1a1b1;
}

.input-group-primary .input-group__input:-ms-input-placeholder,
.input-group-secondary .input-group__input:-ms-input-placeholder {
  color: #a1a1b1;
}

.input-group-primary .input-group__input::-ms-input-placeholder,
.input-group-secondary .input-group__input::-ms-input-placeholder {
  color: #a1a1b1;
}

.input-group-primary .input-group__input::placeholder,
.input-group-secondary .input-group__input::placeholder {
  color: #a1a1b1;
}

.input-group--active:hover {
  cursor: text;
}

.input-group--active .input-group__title {
  margin-bottom: 0;
}

.input-group--active .input-group__counter {
  opacity: 1;
}

.input-group--active .input-group__input {
  opacity: 1;
  max-height: 30px;
}

.input-group--active .input-group__input:hover {
  cursor: text;
}

.input-group--disabled {
  opacity: 0.5;
}

.input-group-primary {
  padding: 0 15px;
  height: 60px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.input-group-primary:before, .input-group-primary:after {
  font-size: 25px;
}

.input-group-primary .input-group__title {
  font-size: 16px;
}

.input-group-primary .input-group__counter {
  font-size: 10px;
}

.input-group-primary .input-group__input {
  font-size: 16px;
}

.input-group-primary .input-group__visibility,
.input-group-primary .input-group__visibility-off {
  font-size: 25px;
}

.input-group-primary.input-group--active .input-group__title {
  font-size: 12px;
  margin-bottom: 3px;
}

.input-group-primary.input-group--focus {
  -webkit-box-shadow: 0 15px 30px 0 rgba(132, 132, 153, 0.25);
          box-shadow: 0 15px 30px 0 rgba(132, 132, 153, 0.25);
}

.input-group-secondary {
  padding: 0 10px;
  height: 50px;
  background: #fff;
  border: 2px solid #fafafa;
  border-radius: 10px;
  -webkit-transition: border .2s ease-in-out, background .2s ease-in-out;
  transition: border .2s ease-in-out, background .2s ease-in-out;
}

.input-group-secondary:before, .input-group-secondary:after {
  font-size: 20px;
}

.input-group-secondary .input-group__title {
  font-size: 14px;
}

.input-group-secondary .input-group__counter {
  font-size: 8px;
}

.input-group-secondary .input-group__input {
  font-size: 14px;
}

.input-group-secondary .input-group__visibility,
.input-group-secondary .input-group__visibility-off {
  font-size: 20px;
}

.input-group-secondary.input-group--active .input-group__title {
  font-size: 10px;
  margin-bottom: 2px;
}

.input-group-secondary.input-group--focus {
  border-color: #ededed;
  background: #fcfcfc;
}

.input-group--upload {
  color: #6666ff;
}

.input-group--upload::after {
  content: "publish";
}

.input-group--audio:before {
  content: "audiotrack";
}

.input-group--image:before {
  content: "insert_photo";
}

.input-group--email:before {
  content: "mail";
}

.input-group--name:before {
  content: "account_circle";
}

.input-group--password:before {
  content: "lock";
}

.input-group__visibility,
.input-group__visibility-off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group__visibility:before,
.input-group__visibility-off:before {
  font-family: "material icons round";
  color: #a1a1b1;
}

.input-group__visibility:before {
  content: "visibility";
}

.input-group__visibility-off:before {
  content: "visibility_off";
}

.input-group--error {
  color: #ff6688;
}

.input-group--error:before {
  color: inherit;
}

.input-group--warning {
  color: #f9a922;
}

.input-group--warning:before {
  color: inherit;
}

.input-group--success {
  color: #1dd1bb;
}

.input-group--success:before {
  color: inherit;
}

.textarea-group-primary,
.textarea-group-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a1a1b1;
  font-weight: 500;
}

.textarea-group-primary:hover,
.textarea-group-secondary:hover {
  cursor: pointer;
}

.textarea-group-primary .textarea-group__title,
.textarea-group-secondary .textarea-group__title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: font-size .3s ease-in-out;
  transition: font-size .3s ease-in-out;
}

.textarea-group-primary .textarea-group__counter,
.textarea-group-secondary .textarea-group__counter {
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.textarea-group-primary .textarea-group__textarea,
.textarea-group-secondary .textarea-group__textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 500;
  color: #2f2e44;
}

.textarea-group-primary .textarea-group__textarea:hover,
.textarea-group-secondary .textarea-group__textarea:hover {
  cursor: pointer;
}

.textarea-group-primary .textarea-group__textarea::-webkit-input-placeholder,
.textarea-group-secondary .textarea-group__textarea::-webkit-input-placeholder {
  font-weight: inherit;
  color: #a1a1b1;
}

.textarea-group-primary .textarea-group__textarea:-ms-input-placeholder,
.textarea-group-secondary .textarea-group__textarea:-ms-input-placeholder {
  font-weight: inherit;
  color: #a1a1b1;
}

.textarea-group-primary .textarea-group__textarea::-ms-input-placeholder,
.textarea-group-secondary .textarea-group__textarea::-ms-input-placeholder {
  font-weight: inherit;
  color: #a1a1b1;
}

.textarea-group-primary .textarea-group__textarea::placeholder,
.textarea-group-secondary .textarea-group__textarea::placeholder {
  font-weight: inherit;
  color: #a1a1b1;
}

.textarea-group--active:hover {
  cursor: text;
}

.textarea-group--active .textarea-group__counter {
  opacity: 1;
}

.textarea-group--active .textarea-group__textarea {
  cursor: text;
}

.textarea-group--disabled {
  opacity: 0.5;
}

.textarea-group-primary {
  min-height: 90px;
  padding: 15px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.textarea-group-primary .textarea-group__title {
  font-size: 16px;
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textarea-group-primary .textarea-group__textarea {
  font-size: 16px;
}

.textarea-group-primary.textarea-group--active .textarea-group__title {
  font-size: 12px;
  margin-bottom: 3px;
}

.textarea-group-primary.textarea-group--focus {
  -webkit-box-shadow: 0 15px 30px 0 rgba(132, 132, 153, 0.25);
          box-shadow: 0 15px 30px 0 rgba(132, 132, 153, 0.25);
}

.textarea-group-secondary {
  padding: 10px;
  min-height: 80px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #fafafa;
  -webkit-transition: border .2s ease-in-out, background .2s ease-in-out;
  transition: border .2s ease-in-out, background .2s ease-in-out;
}

.textarea-group-secondary .textarea-group__title {
  font-size: 14px;
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textarea-group-secondary .textarea-group__textarea {
  font-size: 14px;
}

.textarea-group-secondary.textarea-group--active .textarea-group__title {
  font-size: 10px;
  margin-bottom: 3px;
}

.textarea-group-secondary.textarea-group--focus {
  border-color: #ededed;
  background: #fcfcfc;
}

button {
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.button-primary,
.button-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  background: #6666ff;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  -webkit-transition: background .2s ease-in-out, -webkit-transform .1s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: background .2s ease-in-out, -webkit-transform .1s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: transform .1s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
  transition: transform .1s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .1s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.button-primary:hover,
.button-secondary:hover {
  background: #4d4dff;
  -webkit-box-shadow: 0 5px 25px 0 rgba(102, 102, 255, 0.15);
          box-shadow: 0 5px 25px 0 rgba(102, 102, 255, 0.15);
}

.button-primary:active,
.button-secondary:active {
  background: #4d4dff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(102, 102, 255, 0.2);
          box-shadow: 0 15px 30px 0 rgba(102, 102, 255, 0.2);
}

.button-primary:after,
.button-secondary:after {
  content: "";
  overflow: hidden;
  width: 0;
  opacity: 0;
  margin-left: 0;
  -webkit-transition: margin-left .3s ease-in-out, width .3s ease-in-out, opacity .4s ease-in-out;
  transition: margin-left .3s ease-in-out, width .3s ease-in-out, opacity .4s ease-in-out;
}

.button-primary:disabled,
.button-secondary:disabled {
  opacity: 0.5;
}

.button-primary:disabled:hover,
.button-secondary:disabled:hover {
  background: #6666ff;
  cursor: not-allowed;
}

.button--loading:after {
  content: url("/app/public/img/svg/spinner.svg");
  margin-left: 10px;
  opacity: 1;
  width: 25px;
  height: 25px;
}

.button-primary {
  min-height: 60px;
  font-size: 18px;
  border-radius: 15px;
}

.button-secondary {
  min-height: 50px;
  font-size: 16px;
  border-radius: 10px;
}

.navbar {
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .navbar {
    margin-top: 30px;
  }
}

.navbar-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .navbar-desktop {
    display: none;
  }
}

.navbar-desktop__links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-desktop__logo {
  font-size: 25px;
  font-weight: 700;
  color: #2f2e44;
  margin-right: 3.90625vw;
}

.navbar-desktop__link {
  font-size: 20px;
  font-weight: 600;
  color: #848499;
  margin-right: 2.60417vw;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navbar-desktop__link:hover {
  color: #5f5f72;
}

@media (max-width: 1400px) {
  .navbar-desktop__link {
    font-size: 18px;
    margin-right: 2.60417vw;
  }
}

.navbar-desktop__link--active {
  color: #2f2e44;
}

.navbar-desktop__link--active:hover {
  color: #0f0f16;
}

.navbar-desktop__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-desktop__aside-login-in {
  color: #2f2e44;
  margin-right: 1.5625vw;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 1400px) {
  .navbar-desktop__aside-login-in {
    font-size: 18px;
  }
}

.navbar-desktop__aside-sign-up {
  background: #6666ff;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  -webkit-transition: background .3s, -webkit-box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out;
  transition: background .3s, -webkit-box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out;
  transition: background .3s, box-shadow .1s ease-in-out, transform .1s ease-in-out;
  transition: background .3s, box-shadow .1s ease-in-out, transform .1s ease-in-out, -webkit-box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 1400px) {
  .navbar-desktop__aside-sign-up {
    font-size: 18px;
  }
}

.navbar-desktop__aside-sign-up:hover {
  background: #4d4dff;
}

.navbar-desktop__aside-sign-up:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  background: #4d4dff;
  -webkit-box-shadow: 0px 5px 25px rgba(102, 102, 255, 0.1);
          box-shadow: 0px 5px 25px rgba(102, 102, 255, 0.1);
}

.navbar-desktop__account-link {
  height: 42px;
}

.navbar-desktop__account-link span {
  font-size: 42px;
  color: #6666ff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.navbar-desktop__account-link span:hover {
  color: #4d4dff;
}

.navbar-mobile {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .navbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar-mobile__button:before {
  font-family: "material icons round";
  font-size: 35px;
  color: #2f2e44;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navbar-mobile__button:before:hover {
  cursor: pointer;
}

.navbar-mobile__button--show {
  position: relative;
}

.navbar-mobile__button--show:before {
  content: "menu";
}

.navbar-mobile__button--hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 174px;
  width: 100%;
}

.navbar-mobile__button--hide:before {
  content: "clear";
}

.navbar-mobile__logo {
  color: #2f2e44;
  font-weight: 700;
  font-size: 26px;
}

.navbar-mobile__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background: #fff;
  height: 100vh;
  max-width: 0px;
  overflow: hidden;
  -webkit-transition: max-width .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: max-width .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: max-width .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: max-width .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  white-space: nowrap;
  overflow-y: auto;
}

.navbar-mobile__links--slide {
  max-width: 315px;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
}

.navbar-mobile__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding: 0 30px;
}

.navbar-mobile__account-link span {
  color: #6666ff;
  font-size: 35px;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navbar-mobile__account-link span:hover {
  color: #4d4dff;
}

.navbar-mobile__link {
  font-size: 22px;
  font-weight: 600;
  color: #848499;
  margin: 25px 150px 0px 30px;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navbar-mobile__link:hover {
  color: #5f5f72;
}

.navbar-mobile__link--active {
  color: #2f2e44;
}

.navbar-mobile__link--active:hover {
  color: #0f0f16;
}

.navbar-mobile__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  padding: 0 30px;
}

.navbar-mobile__footer-link {
  font-size: 20px;
  font-weight: 600;
}

.navbar-mobile__footer-link--login-in {
  color: #2f2e44;
  margin-right: 40px;
}

.navbar-mobile__footer-link--sign-up {
  color: #fff;
  background: #6666ff;
  padding: 10px 30px;
  border-radius: 30px;
  -webkit-transition: background .3s, -webkit-box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out;
  transition: background .3s, -webkit-box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out;
  transition: background .3s, box-shadow .1s ease-in-out, transform .1s ease-in-out;
  transition: background .3s, box-shadow .1s ease-in-out, transform .1s ease-in-out, -webkit-box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

.navbar-mobile__footer-link--sign-up:hover {
  background: #4d4dff;
}

.navbar-mobile__footer-link--sign-up:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  background: #4d4dff;
  -webkit-box-shadow: 0px 5px 25px rgba(102, 102, 255, 0.1);
          box-shadow: 0px 5px 25px rgba(102, 102, 255, 0.1);
}

.navbar-mobile__overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: #000;
  -webkit-transition: opacity .3s, z-index;
  transition: opacity .3s, z-index;
}

.navbar-mobile__overlay--visible {
  z-index: 40;
  opacity: 0.5;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  grid-column-gap: 150px;
  grid-row-gap: 30px;
  background: whitesmoke;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  .footer {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .footer__contacts {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

.footer__contacts,
.footer__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  grid-column-gap: 5.20833vw;
  grid-row-gap: 15px;
}

@media (max-width: 576px) {
  .footer__contacts,
  .footer__links {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact:before {
  font-family: "Font Awesome 5 Brands";
  font-size: 25px;
  font-weight: 500;
  color: inherit;
  margin-right: 10px;
}

.footer__contact,
.footer__link {
  font-weight: 600;
  color: #a1a1b1;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer__contact:hover,
.footer__link:hover {
  color: #77778e;
}

.footer__contact--youtube:before {
  content: "\f167";
}

.footer__contact--twetter:before {
  content: "\f099";
}

.footer__contact--facebook:before {
  content: "\f09a";
}

.footer__contact--mail:before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 600;
  content: "\f0e0";
}

.footer__contact--discord:before {
  content: "\f392";
}

.footer__contact--skype:before {
  content: "\f17e";
}

.copyright {
  height: 50px;
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__text {
  font-size: 1.6em;
  font-weight: 500;
  color: #a1a1b1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 50;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

.modal__content {
  max-width: 500px;
  width: 500px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  overflow: auto;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.modal__close-button:before {
  font-family: "Material Icons Round";
  content: "clear";
  color: #a1a1b1;
  font-size: 25px;
}

.modal__footer {
  margin-top: 30px;
}

.alert {
  margin-top: 30px;
  background: #fff;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  border-radius: 15px;
  padding: 15px;
  width: 600px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.alert--warning .alert__header {
  color: #f9a922;
}

.alert--warning .alert__header:before {
  content: "error_outline";
}

.alert--warning .alert__header:after {
  content: "Warning!";
}

.alert--warning .alert-input {
  display: none;
}

.alert--warning .alert__buttons .alert__button--cancel {
  display: block;
}

.alert--warning .alert__buttons .alert__button--confirm {
  display: block;
}

.alert--warning .alert__buttons .alert__button--okay {
  display: none;
}

.alert--error .alert__header {
  color: #ff6688;
}

.alert--error .alert__header:before {
  content: "highlight_off";
}

.alert--error .alert__header:after {
  content: "Error!";
}

.alert--error .alert-input {
  display: none;
}

.alert--error .alert__buttons .alert__button--cancel {
  display: none;
}

.alert--error .alert__buttons .alert__button--confirm {
  display: none;
}

.alert--error .alert__buttons .alert__button--okay {
  display: block;
}

.alert--prompt .alert-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alert--prompt .alert__header {
  color: #6666ff;
}

.alert--prompt .alert__header:before {
  content: "help_outline";
}

.alert--prompt .alert__header:after {
  content: "Are you sure?";
}

.alert--prompt .alert__buttons .alert__button--cancel {
  display: block;
}

.alert--prompt .alert__buttons .alert__button--confirm {
  display: block;
  background: #6666ff;
}

.alert--prompt .alert__buttons .alert__button--okay {
  display: none;
}

.alert__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: inherit;
  border-radius: 10px;
  font-size: inherit;
}

.alert__header:before {
  font-family: "Material Icons Round";
  margin-right: 5px;
  font-size: 25px;
}

.alert__header:after {
  font-size: 2.5em;
}

.alert__description {
  color: #848499;
  margin-bottom: 15px;
  font-weight: 500;
}

.alert-input {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
}

.alert__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert__button {
  font-size: 1.8em;
  font-weight: 500;
  height: 40px;
  width: 100%;
  border-radius: 10px;
}

.alert__button--cancel {
  display: none;
  color: #a1a1b1;
  border: 2px solid #a1a1b1;
  margin-right: 15px;
}

.alert__button--confirm {
  display: none;
  color: #fff;
  background: #f9a922;
}

.alert__button--okay {
  display: none;
  color: #fff;
  background: #ff6688;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.banner__swiper {
  overflow: hidden;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  border-radius: 15px;
}

.banner__slide {
  position: relative;
}

.banner__slide img {
  width: 100%;
  display: block;
}

.banner__button {
  position: absolute;
  bottom: 3.90625vw;
  left: 5.20833vw;
  font-size: 1.5625vw;
  color: #2f2e44;
  font-weight: 600;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .banner__button {
    font-size: 2.5vw;
  }
}

@media (max-width: 576px) {
  .banner__button {
    font-size: 4.34028vw;
    bottom: 8.68056vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.banner__button:after {
  font-family: "Material Icons Round";
  content: "arrow_right_alt";
  font-size: inherit;
  margin-left: 0.52083vw;
  padding-top: 0.26042vw;
}

@media (max-width: 1000px) {
  .swiper-scrollbar {
    width: 94% !important;
    left: 3% !important;
    bottom: 8px !important;
  }
}

.about-me {
  padding-top: 150px;
  padding-bottom: 150px;
  background: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2.60417vw;
  grid-column-gap: 2.60417vw;
}

@media (max-width: 1000px) {
  .about-me {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media (max-width: 1000px) {
  .about-me__person {
    width: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 770px) {
  .about-me__person {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .about-me__person {
    width: 90%;
  }
}

.abot-me__photo {
  background-color: #a1a1b1;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  padding-bottom: 125%;
  margin-bottom: 37.5px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me__name {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  border-radius: 100px;
  height: 75px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media (max-width: 1200px) {
  .about-me__name {
    height: 60px;
  }
}

.about-me__paragraph {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 90%;
}

@media (max-width: 1000px) {
  .about-me__paragraph {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
  }
}

@media (max-width: 370px) {
  .about-me__paragraph {
    width: 100%;
  }
}

.about-me__title {
  text-align: center;
  margin-bottom: 2.60417vw;
}

.about-me__merit {
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 1000px) {
  .about-me__merit {
    width: 60%;
  }
}

@media (max-width: 770px) {
  .about-me__merit {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .about-me__merit {
    width: 90%;
  }
}

.about-me__merit-picture {
  width: 90%;
  padding-bottom: 75%;
  background: #a1a1b1;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  border-radius: 15px;
  position: relative;
  margin: 0 auto 27.5px auto;
}

@media (max-width: 1000px) {
  .about-me__merit-picture {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .about-me__merit-picture {
    width: 90%;
  }
}

.about-me__merit-title {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 70px;
  height: 55px;
  width: 90%;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
}

.about-me__merit-text {
  padding-top: 25px;
}

.reviews {
  padding-bottom: 150px;
  background: whitesmoke;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.reviews__title {
  margin-bottom: 75px;
}

.reviews__swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__card {
  background: #fff;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  border-radius: 15px;
  padding: 75px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.reviews__card-photo {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  margin-right: 15px;
  background: #a1a1b1;
  -webkit-box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
          box-shadow: 0 5px 25px 0 rgba(132, 132, 153, 0.15);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reviews__card-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.reviews__card-title {
  margin-bottom: 15px;
}

.reviews__card-text {
  margin-bottom: 30px;
}

.review__grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.review__star:before {
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  font-weight: 700;
  color: #ffdd6e;
  max-height: 30px;
  max-width: 30px;
  font-size: 28px;
  opacity: 0.25;
}

.review__star--selected:before {
  opacity: 1;
}

.review__rating {
  font-size: 25px;
  background: #ffdd6e;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  width: 50px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__leave-review-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 30px;
  color: #a1a1b1;
}

.reviews__leave-review-button:before {
  font-family: "Material Icons Round";
  content: "maps_ugc";
  margin-right: 5px;
}

.leave-review__body {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 15px;
}

.leave-review__button {
  width: 100%;
}

.grid {
  background: #fff;
  padding: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px;
      grid-template-columns: 500px;
  grid-row-gap: 30px;
}
