// =======
// comment
// =======
  
.comment
  display: grid
  grid-template-columns: max-content 1fr
  grid-column-gap: 10px
  grid-row-gap: 5px

.comment__image
  min-width: 35px
  width: 35px
  height: 35px
  border-radius: 100%
  background: $color-gray

.comment__name
  margin-right: 5px
  font-weight: $semibold
  color: $color-dark

.comment__mention
  margin-right: 5px
  font-weight: $semibold
  color: $color-primary

.comment__date
  grid-column-start: 2
  color: $color-semigray