.alert {
  margin-top: 30px;
  background: $bg-fifth;
  box-shadow: $shadow-second;
  @include border-radius;
  padding: 15px;
  width: 600px;
  height: max-content;
}

.alert--warning {

  .alert__header {
    color: $color-fourth;

    &:before {
      content: "error_outline";
    }
    &:after {
      content: "Warning!";
    }
  }

  .alert__buttons {

    .alert__button--cancel {
      display: block;
    }

    .alert__button--confirm {
      display: block;
    }

    .alert__button--okay {
      display: none;
    }
  }
}

.alert--error {

  .alert__header {
    color: $color-second;

    &:before {
      content: "highlight_off";
    }
    &:after {
      content: "Error!";
    }
  }

  .alert__buttons {

    .alert__button--cancel {
      display: none;
    }

    .alert__button--confirm {
      display: none;
    }

    .alert__button--okay {
      display: block;
    }
  }
}


.alert__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: inherit;
  border-radius: 10px;
  font-size: inherit;

  &:before {
    font-family: "Material Icons Round";
    margin-right: 5px;
    font-size: 25px;
  }

  &:after {
    font-size: 2.5em;
  }
}

.alert__description {
  color: $text-second;
  margin-bottom: 15px;
  font-weight: $medium;
}

.alert__buttons {
  display: flex;
  justify-content: center;
}

.alert__button {
  font-size: 1.8em;
  font-weight: $medium;
  height: 40px;
  width: 100%;
  border-radius: 10px;
}

.alert__button--cancel {
  display: none;
  color: $text-third;
  border: 2px solid $text-third;
  margin-right: 15px;

}

.alert__button--confirm {
  display: none;
  color: $text-fourth;
  background: $color-fourth;
}

.alert__button--okay {
  display: none;
  color: $text-fourth;
  background: $color-second;
}