.card {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  flex-basis: 25%;
}

.card--big {
  flex-basis: 33.3%;
}

.card--rectangle {
  flex-basis: 33.3%;

  .card__image {
    padding-bottom: 55%;
    border: 5px solid $bg-fifth;
  }
}

.card--add {
  flex-basis: 33.3%;

  .card__image {
    @include border-radius;
    padding-bottom: 56.25%;
    background: $bg-fifth;
  }
}

.card--selected {
  .card__image {
    border: solid 5px $color-main;
  }
}

.card__add-icon {
  color: $color-main !important;
  font-size: 100px !important;
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
}

.card__image {
  position: relative;
  background: $text-third;
  padding-bottom: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 25px;
  box-shadow: $shadow-second;
  @include border-radius;
  @include background-image;
  transition: border .3s ease-in-out;
  
  @include lg-devices {
    margin-bottom: 20px;
  }
}

.card__header {
  position: absolute;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__favorite-button {
  transition: transform .1s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.96);
  }
}

.card__favorite-icon {
  font-size: 24px !important;
  color: $text-third;
  background: $bg-fifth;
  border-radius: 100%;
  padding: 6px;

  @include md-devices {
    user-select: none;
  }
}

.card__favorite-icon--active {
  color: $color-second !important;
}

.card__views {
  background: $bg-fifth;
  border-radius: 50px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  height: max-content;
}

.card__views-count {
  font-size: 14px;
  font-weight: $semibold;
  color: $text-third;

  @include md-devices {
    user-select: none;
  }
}

.card__views-icon {
  margin-right: 5px;
  font-size: 15px !important;
  color: $text-third !important;

  @include md-devices {
    user-select: none;
  }
}

.card__title {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  background: $bg-fifth;
  border-radius: 50px;
  height: 60px;
  width: 90%;
  box-shadow: $shadow-second;
  padding: 0 15px;
  justify-content: center;

  @include lg-devices {
    height: 50px;
  }

  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include md-devices {
      user-select: none;
    }
  }
}

.card__text {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;

  @include lg-devices {
    margin-top: 10px;
  }

  @include md-devices {
    user-select: none;
  }
}

.card__date {
  font-size: 14px;
  font-weight: $semibold;
  color: $text-third;
  background: $bg-fifth;
  border-radius: 50px;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  box-shadow: $shadow-second;

  @include md-devices {
    user-select: none;
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  @include lg-devices {
    margin-top: 10px;
  }
}

.card__tags {
  display: flex;

  .tag {
    box-shadow: 0px 0px 0px 3px $bg-main;
  }
}

.card__tag {
  position: relative;
}

.card__tag-tooltip {
  display: none;
  position: absolute;
  transform: translateY(120%);
  left: -8px;
}

.card__tag-secondary {
  z-index: $z-main +1;
  transition: margin .2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &:hover .card__tag-tooltip {
    display: flex;
  }
}

.card__tag-main {
  z-index: $z-first +2;
}