// =======
// comment
// =======

.comment {
  display: flex;
  margin: 15px 0;
}

.comment__image {
  background: $text-third;
  height: 35px;
  min-width: 35px;
  border-radius: 100%;
  margin-right: 15px;
  box-shadow: $shadow-second;
}

.comment__name {
  font-weight: $semibold;
  color: $text-main;
}

.comment__mention {
  font-weight: $semibold;
  color: $color-main;
}

.comment__date {
  margin-top: 5px;
  display: block;
  font-weight: $semibold;
}
