.basement {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.footer {
  display: flex;
  background: $bg-second;
  padding-top: 100px;
  padding-bottom: 100px;

  @include lg-devices {
    flex-direction: column;
  }

  @include xs-devices {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer__wrapper--first {
  margin-right: 150px;

  @include xl-devices {
    margin-right: vw(150, 1400);
  }

  @include lg-devices {
    margin-right: 0;
    margin-bottom: 50px;
  }

  @include xs-devices {
    margin-bottom: 30px;
  }
}

.footer__title {
  margin-bottom: 30px;
  display: block;
  flex-basis: 100%;

  @include xs-devices {
    margin-bottom: 25px;
  }
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;

  @include xs-devices {
    flex-direction: column;
  }
}

.footer__segment {
  display: flex;
  flex-direction: column;

}

.footer__segment--first {
  margin-right: 100px;

  @include sm-devices {
    margin-right: 50px;
  }
}

.footer__element {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:hover .footer__icon {
    color: $text-main;
  }

  &:hover .footer__text {
    color: $text-main;
  }

  @include xs-devices {
    margin-bottom: 15px;
  }
}

.footer__icon {
  font-size: 25px;
  color: $text-third;
  margin-right: 15px;
  transition: color .2s;
}

.footer__text {
  display: flex;
  font-weight: $semibold;
  transition: color .2s;

  @include sm-devices {
    font-size: 16px;
  }
}

.footer__link {
  padding: 1.5px 0px;
  margin-bottom: 20px;
  transition: color .2s;

  &:hover {
    color: $text-main;
  }

  @include xs-devices {
    margin-bottom: 15px;
  }
}

.footer__element--last,
.footer__link--last {
  margin-bottom: 0;

  @include xs-devices {
    margin-bottom: 15px;
  }
}

.copyright {
  height: 50px;
  background: $bg-third;
  display: flex;
  align-items: center;
}

.copyright__text {
  font-size: 18px;
  font-weight: $medium;
  color: $text-third;

  @include lg-devices {
    font-size: 16px;
  }

  @include md-devices {
    font-size: 14px;
  }

  @include sm-devices {
    font-size: 12px;
  }

  @include xs-devices {
    font-size: 11px;
  }
}