@import "player";
@import "description";
@import "comments";

.selected {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -7.5px 0;
  margin-bottom: 50px;
}

// ========
// addition 
// ========

.addition {
  flex-basis: 30%;
  padding: 0 7.5px;
  display: flex;
}

.addition__body {
  padding: 25px;
  background: $bg-fifth;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: $shadow-second;
}

.addition__header {
  display: flex;
  padding: 0 0 15px;
  border-bottom: 1px solid $text-fifth;
  height: max-content;
  width: 100%;
}

.addition__header-button {
  margin-right: 25px;
  font-weight: $semibold;
}

.addition__header-button--active {
  color: $text-main;
}

// =============
// addition tabs
// =============

.addition__tab {
  flex-grow: 1;
  position: relative;
}

.addition__tab-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}



