.tooltip,
.dropdown {
  width: max-content;
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(18, 18, 18, 0.95);
}

.tooltip__arrow,
.dropdown__arrow {
  top: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(18, 18, 18, 0.95);
  transform: translateY(-100%);
  position: absolute;
}

.dropdown__body {
  display: flex;
  flex-direction: column;
}