.tag {
  position: relative;
  display: flex;
  align-items: center;
}

.tag__icon {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: $text-third;

  &:not(:first-child) {
    margin-left: -8px;
    box-shadow: 0px 0px 0px 3px $bg-main;
  }
}

.tag__name {
  margin-left: 10px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: $semibold;
  color: $text-third;
}

.tag__checkbox {
  visibility: hidden;
  position: absolute;

  &:checked + .tag__checkbox-label .tag__icon--checkbox {
    box-shadow: inset 0px 0px 0px 17.5px $color-main;
  }
  &:checked + .tag__checkbox-label .tag__name--checkbox {
    color: $color-main;
  }
}

.tag__checkbox-label {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:hover .tag__icon--checkbox {
    box-shadow: inset 0px 0px 0px 4px $text-second;
  }
  &:hover .tag__name--checkbox {
    color: $text-second;
  }

  &:active {
    transform: scale(0.98);
  }
}

.tag__icon--checkbox {
  background: $bg-fifth;
  box-shadow: inset 0px 0px 0px 3.5px $text-third;
  transition: box-shadow .3s ease-in-out;
}

.tag__name--checkbox {
  transition: color .3s ease-in-out;
  font-size: 18px;
  font-weight: $medium;
}
