.feed {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.feed__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}

.feed__title {
  flex-basis: 100%;
  margin-bottom: 30px;
}

.updates {
  margin-bottom: 75px;
}

.popular {
  margin-bottom: 150px;
}

.footer {
  background: $bg-third;
}

.copyright {
  background: $bg-fourth;
}