.games__selected
  margin-top: 30px
  padding-bottom: 42.85%

  background: $color-white
  box-shadow: $box-shadow-primary
  border-radius: $border-radius-primary

  position: relative
  overflow: hidden