.matcher
  canvas
    cursor: grab
    
  .game__elements
    position: absolute
    top: 0
    left: 0
    width: max-content
    z-index: $z-second + 1
    // 
    padding: 15px 0 0 10px


.matcher__progress-bar 
  z-index: $z-second
  position: relative
  top: 0
  // 
  width: 100%
  height: 5px
  background: #fafafa


.matcher__progress-bar-current
  height: 5px
  width: 50%
  background: $color-greenish
  transition: width .3s


.matcher__results
  position: absolute
  height: 100%
  width: 100%
  top: 0 
  display: grid
  justify-content: center
  padding: 15px 0
  background: rgba(0, 0, 0, 0.50)
  backdrop-filter: saturate(180%) blur(10px)
  z-index: $z-second


.matcher__results-body
  display: grid
  background: $color-white
  box-shadow: $box-shadow-primary
  border-radius: $border-radius-secondary
  padding: 15px
  justify-items: center
  grid-row-gap: 10px
  grid-template-rows: max-content max-content 1fr max-content
  overflow: hidden


.matcher__results-scrollable
  overflow: overlay
  @include scroll-body
   
   
.matcher__results-heading
  display: grid
  justify-items: center
  grid-row-gap: 5px
  grid-auto-rows: max-content

  &::before
    font-family: "material icons round"
    color: $color-greenish
    content: "check_circle"
    font-size: 50px


.matcher__results-time
  span
    font-weight: $semibold


.matcher__results-table
  border-collapse: collapse
  font-size: 16px
  th,td
    padding: 4px 12px
    border: 2px solid darken($color-almost-white, 2 )

  th
    color: $color-dark

  td
    color: $color-gray
    font-weight: $medium


.matcher__results-restart-button
  border-radius: 5px

.matcher-list 
  display: grid
  grid-template-column: 1fr
  padding: 30px 40px 40px
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  @include md-devices
    padding: 20px

  .game__controls, .game__elements
    position: static
    padding: 0


.matcher-list__body
  display: flex
  flex-direction: column
  gap: 15px
  overflow: auto
  @include scroll-body


.matcher-list__card
  display: grid
  grid-auto-flow: column
  grid-template-columns: 1fr max-content
  grid-column-gap: 15px
  background: $color-almost-white
  border-radius: $border-radius-secondary
  padding: 30px
  align-items: center

.matcher-list__text
  display: grid
  width: max-content
  grid-row-gap: 5px
  grid-auto-rows: max-content

.matcher-list__button
  height: 40px
  width: 40px
  border-radius: 5px
  background: $color-primary
  display: grid
  align-items: center
  justify-items: center
  
  &::before
    font-family: "material icons round"
    font-size: 28px
    content: "arrow_right_alt"
    color: $color-white


.matcher-list__text
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
