.recorder
  padding: 30px 40px 40px
  // 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  gap: 20px

  @include xl-devices
    gap: 15px


.recorder__title
  font-weight: $bold


.recorder__card
  padding: 20px
  background: $color-almost-white
  border-radius: $border-radius-secondary
  // 
  display: grid
  grid-template-columns: max-content 1fr
  align-items: center
  grid-column-gap: 25px

  &--record
    grid-template-columns: max-content 1fr max-content


.recorder__card-button
  height: 60px
  width: 60px
  color: $color-white
  background: $color-primary
  border-radius: 100%
  // 
  display: grid
  align-items: center
  justify-items: center
  // 
  &:disabled
    opacity: 0.1
    cursor: not-allowed
  // 
  &:before
    font-family: "material icons round"
    color: inherit
    // 
    display: flex
    align-items: center
    justify-content: center
    width: 25px
    height: 25px
    overflow: hidden
  // 
  &--play
    &:before
      content: "play_arrow"
      font-size: 46px

  &--pause
    &:before
      content: "pause"
      font-size: 42px

  &--record
    &:before
      content: "mic"
      font-size: 28px

  &--stop
    &:before
      content: "stop"
      font-size: 40px

  &--rerecord
    height: 40px
    width: 40px

    &:before
      content: "settings_backup_restore"
      font-size: 22px

  @include xl-devices
    height: 40px
    width: 40px    

    &:before
      width: 18px
      height: 18px
      // 
    &--play
      &:before
        font-size: 32px

    &--pause
      &:before
        font-size: 30px

    &--record
      &:before
        font-size: 23px

    &--stop
      &:before
        font-size: 34px

  
.recorder__card-status-bar
  display: grid
  grid-auto-flow: column
  grid-auto-columns: max-content
  align-items: center
  grid-column-gap: 8px
  overflow: hidden
  height: 60px
  @include xl-devices
    height: 40px
  

.recorder__card-status-bar-element
  width: 8px
  height: 100%
  border-radius: 100px
  background: darken($color-almost-white, 10)
  transition: background .2s ease-in-out, height .2s ease-in-out
  cursor: pointer

  &--active 
    background: $color-primary


.recorder__button-group
  display: grid
  grid-auto-flow: column
  grid-auto-columns: max-content
  grid-column-gap: 5px


.recorder__button
  font-size: 16px
  height: 30px
  padding: 0 20px
  border-radius: 5px
  color: $color-white
  font-weight: $semibold
  // 
  &--prev
    background: $color-gray
  
  &--next
    background: $color-primary
  // 
  &:disabled 
    opacity: 0.25
    cursor: not-allowed


.recorder__element
  font-size: 14px
  line-height: 1
  font-weight: $semibold
  color: #E3E3E3
  padding: 0px 10px
  // 
  display: grid
  align-items: center
  justify-items: center
  grid-auto-flow: column
  grid-column-gap: 5px
  // 
  height: 30px
  border-radius: 5px
  backdrop-filter: blur(5px) saturate(150%)
  background-color: transparentize($color-almost-black, 0.1)

  &:after,
  &:before
    
    font-weight: $medium
    font-size: 18px
    font-family: "material icons round"
    color: inherit

  &:disabled
    opacity: 0.3
    cursor: not-allowed

.recorder__exit-button
  width: 30px
  padding: 0

  &:after
    color: $color-reddish
    content: "close"


.recorder__menu-button
  &:after
    content: "menu"

.recorder__next-button
  &:after
    content: "arrow_right_alt"

.recorder__prev-button
  &:before
    content: "arrow_right_alt"
    transform: rotate(180deg)

.recorder__random-button
  &::after
    content: "shuffle"

.recorder__controls
  display: grid
  grid-auto-flow: column
  grid-auto-columns: max-content
  justify-content: space-between
  margin-bottom: 10px


.recorder-list 
  display: flex
  flex-direction: column
  gap: 15px
  overflow: auto
  @include scroll-body

.recorder-list__card
  display: grid
  grid-auto-flow: column
  grid-template-columns: 1fr max-content
  grid-column-gap: 15px
  background: $color-almost-white
  border-radius: $border-radius-secondary
  padding: 30px
  align-items: center

.recorder-list__button
  height: 40px
  width: 40px
  border-radius: 5px
  background: $color-primary
  display: grid
  align-items: center
  justify-items: center
  
  &::before
    font-family: "material icons round"
    font-size: 28px
    content: "arrow_right_alt"
    color: $color-white

.recorder-list__text
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden