.not-found 
  height: calc( 100vh - 90px )
  @include lg-devices
    height: calc( 100vh - 70px )
  display: grid
  align-items: center
  justify-items: center
  align-self: center
  justify-content: center
  grid-auto-rows: max-content
  align-content: center
  grid-gap: 30px
  grid-template-columns: minmax(100px, 500px)
  img
    display: block
    width: 80%

  button
    width: fit-content
    padding: 0px 30px