
// ========
// comments
// ========

.comments {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include lg-devices {
    position: static;
  }
}

.comments__header {
  display: none;
  justify-content: space-between;
  align-items: center;

  @include lg-devices {
    display: flex;
    margin: 0 0 15px;
  }
}
// ==============
// comments__body 
//===============

.comments__body {
  flex-grow: 1;
  display: flex;
}

.comments__overlay {
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comments__body-content {
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $bg-main;
    border-radius: 20px;
    margin-top: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $text-fifth;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $text-third;
  }
}

.comments__count {
  margin-top: 10px;

  @include lg-devices {
    display: none;
  }
}

// ================
// comments__footer 
// ================

.comments__footer {
  display: flex;
  padding-top: 10px;
}

.comments__account-link {
  height: 35px;

  span {
    font-size: 35px;
    color: $color-main;
  }
}

.comments__textarea {
  height: 35px;
  border-radius: 10px;
  background: $bg-second;
  border: none;
  font-size: 14px;
  color: $text-second;
  padding: 5px 15px;
  width: 100%;
  margin: 0 7.5px;

  &::placeholder {
    font-weight: $medium;
    color: $text-third;
  }
}

.comments__send-button {
  height: 35px;
  min-width: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-main;

  span {
    font-size: 20px;
    color: $bg-fifth;
  }
}

// ===============
// comments mobile 
// ===============

.comments__mobile-button {
  display: none;

  span {
    font-size: 30px;
    margin-right: -10px;
  }

  @include lg-devices {
    display: flex;
  }
}