// ========
// selected
// ========

.selected {
  margin: 0 -7.5px 50px;
  display: flex;
  flex-flow: row wrap;
  order: 2;
  position: relative;

  @include lg-devices {
    margin: 0 0 30px;
  }

  @include md-devices {
    order: 1;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.selected__overlay {
  display: flex;
  position: absolute;
  z-index: $z-second;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.selected__overlay-image {
  background: $bg-fifth;
  width: 100%;
  height: 100%;
  margin: 0 7.5px;
  @include border-radius;
  padding: vw(150, 1920);

  @include lg-devices {
    margin: 0;
    padding: vw(200,1200) vw(300,1200);
  }
}

// ========
// addition 
// ========

.addition {
  display: flex;
  flex-basis: 30%;
  padding: 0 7.5px;

  @include lg-devices {
    flex-basis: 100%;
    padding: 0;
  }
}

.addition__body {
  border-radius: 15px;
  background: $bg-fifth;
  box-shadow: $shadow-second;
  padding: 25px;
  position: relative;
  display: flex;
  flex-grow: 1;

  @include lg-devices {
    padding: unset;
    box-shadow: unset;
    border-radius: unset;
    background: unset;
  }
}

.addition__info {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

// ===============
// addition header 
// ===============

.addition__header {
  width: 100%;
  height: max-content;
  padding: 0 0 15px;
  border-bottom: 1px solid $text-fifth;
  display: flex;

  @include lg-devices {
    display: none;
  }
}

.addition__header-button {
  margin-right: 25px;
  font-weight: $semibold;
}

.addition__header-button--active {
  color: $text-main;
}

// =============
// addition tabs
// =============

.addition__tabs,
.addition__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.addition__tab {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $bg-fifth;
  z-index: $z-main;

  @include lg-devices {
    max-height: 400px;
    position: static;
    padding: 15px;
    border-radius: 10px;
    box-shadow: $shadow-second;
    margin-top: 15px;
  }
}


.addition__tab--description {
  z-index: $z-first +1;
}

.addition__tab--comments {
  z-index: $z-first;
}