.comments__overlay
  position: absolute
  top: 0
  width: 100%
  min-height: 100%
  z-index: $z-first
  background: $color-white
  display: flex
  justify-content: center
  align-items: center
  display: none
  img
    width: 75%
    height: 75%
  
.comments__body
  display: flex
  flex-direction: column
  gap: 20px
  position: relative

.comments__footer 
  column-gap: 7.5px
  
.comments__profile-button 
  height: 40px
  &:before
    font-family: "material icons round"
    content: "account_circle"
    color: $color-primary
    font-size: 40px

.comments__send-button 
  height: 40px
  min-width: 40px
  border-radius: 100%
  background: $color-primary

  &:before
    font-family: "material icons round"
    content: "send"
    color: $color-white
    font-size: 20px

.comments__textarea
  width: 100%
  padding: 10px
  min-height: 40px
  color: $color-dark
  background: $color-almost-white
  border-radius: $border-radius-secondary

  &::placeholder
    font-weight: $medium
    color: $color-semigray